:host ::ng-deep {
  @media (max-width: 768px) {
    .p-tabview-title {
      display: none;
    }
  }

  .p-tabview .p-tabview-left-icon {
    margin-right: 0;
  }

  .p-tabview-title {
    margin-left: 0.5rem;
  }

  .p-tabview-title:empty {
    margin-left: 0;
  }

  .accordionTable {
    .p-accordion-header.p-highlight .p-accordion-header-link {
      background-color: var(--surface-d);
    }

    .p-accordion-header .p-accordion-header-link {
      border: 0;
      padding: .5rem 0;
      padding-right: 1rem;
      background-color: lighten(#1e1e1e, 5%);
      font-weight: 400;
      margin-bottom: .5rem;

      &:hover {
        background-color: var(--surface-d);
      }

      .p-d-flex {
        align-items: center;
        flex: 1;
      }
    }

    .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
      margin-left: .5rem;
      margin-right: 1rem;
    }

    .p-accordion-content {
      border: 0;
      margin-bottom: .5rem;
    }
  }


}
