<form [formGroup]='form'>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-col'>
      <arpa-form-field label='musician-profile.TIMESPAN'>
        <input autocomplete='off' formControlName='timeSpan' pInputText type='text'>
      </arpa-form-field>
    </div>
    <div class='p-col'>
      <arpa-form-field label='musician-profile.EDUCATION_TYPE' type='select'>
        <p-dropdown
          [options]='(educationTypes | async) || []'
          [placeholder]='"NOTHING_SELECTED" | translate'
          formControlName='typeId'
          optionLabel='label'
          optionValue='value'
        ></p-dropdown>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-col'>
      <arpa-form-field label='musician-profile.EDUCATION_INSTITUTION'>
        <input autocomplete='off' formControlName='institution' pInputText type='text'>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-col'>
      <arpa-form-field label='musician-profile.EDUCATION_DESCRIPTION'>
        <textarea formControlName='description' id='description' pInputText type='text'></textarea>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-col p-text-right'>
    </div>
    <div class='p-col p-text-right'>
      <button
        (click)='add()'
        [disabled]='form.pristine || form.invalid'
        [label]="'ADD' | translate"
        icon='pi pi-check'
        iconPos='right'
        pButton
        type='button'
      ></button>
    </div>
  </div>
</form>
<arpa-table
  [actionsTemplateRef]='actionsTemplate'
  [columns]='columns'
  [data]='educations'
  [showFilter]='false'
  [showPagination]='false'
>
</arpa-table>

<ng-template #actionsTemplate let-row>
  <button
    (click)='remove(row)'
    [label]='"musician-profile.DELETE" | translate'
    class='p-button-rounded p-button-text p-button-icon-only'
    icon='pi pi-trash'
    pButton
    type='button'></button>
</ng-template>
