.p-field {
  display: flex;
  flex-direction: column;
}

span.p-calendar {
  width: 100% !important;
}

.allDayCheckbox {
  margin-top:2px;
  align-self: end;
}

.startTime {
  margin-bottom:-0.4rem;
}
