<ng-template #loading>
  <div class="spinner-container">
    <div class="arpa-spinner">
      <div class="spinner"></div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="ready; else loading">
  <h3 style="text-align: center" class="appointment-title">
    {{ appointment.name }} - {{ appointment.startTime | date : 'dd.MM.yy' : 'locale(de)' }}
  </h3>
  <div style="display: flex; justify-content: center; margin-bottom: 2rem">
    <button
      [label]="getSendNotificationLabel()"
      [pTooltip]="'appointments.SEND_NOTIFICATION_TOOLTIP' | translate"
      *ngIf="!isNew && formGroup.pristine"
      (click)="onSendNotification($event)"
      pButton
      class="p-button-outlined p-button-warning p-mr-3"
      type="button"
      icon="pi pi-envelope"
    ></button>
  </div>
  <p-tabView [(activeIndex)]="activeIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="{{ 'appointments.APPOINTMENT_DETAILS' | translate }}">
      <form (submit)="onSubmit()" [formGroup]="formGroup" class="p-mt-5">
        <div class="p-grid p-formgrid">
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="title">{{ 'appointments.TITLE' | translate }} *</label>
            <input
              formControlName="name"
              id="title"
              maxlength="50"
              pInputText
              placeholder="{{ 'appointments.TITLE' | translate }} *"
              required
              type="text"
            />
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="category">{{ 'appointments.CATEGORY' | translate }} </label>
            <p-dropdown
              [autoDisplayFirst]="false"
              [options]="categoryOptions"
              [showClear]="true"
              appendTo="body"
              formControlName="categoryId"
              id="category"
              placeholder="Select category"
            ></p-dropdown>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="sections">{{ 'appointments.SECTIONS' | translate }}</label>
            <p-autoComplete
              (completeMethod)="searchSection($event)"
              (onSelect)="onSectionAdded($event)"
              (onUnselect)="onSectionRemoved($event)"
              [disabled]="sections.length === 0"
              [dropdown]="true"
              [forceSelection]="true"
              [multiple]="true"
              [suggestions]="sectionOptions"
              appendTo="body"
              field="name"
              id="sections"
              name="sections"
            ></p-autoComplete>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="projects">{{ 'appointments.PROJECTS' | translate }}</label>
            <p-autoComplete
              (completeMethod)="searchProject($event)"
              (onSelect)="onProjectAdded($event)"
              (onUnselect)="onProjectRemoved($event)"
              [disabled]="projects.length === 0"
              [dropdown]="true"
              [forceSelection]="true"
              [multiple]="true"
              [suggestions]="projectOptions"
              appendTo="body"
              field="title"
              id="projects"
              name="projects"
            ></p-autoComplete>
          </div>
          <div class="p-field p-fluid p-col-8 p-md-4">
            <label for="starttime">{{ 'appointments.START' | translate }} *</label>
            <p-calendar
              [required]="true"
              [showTime]="!isAllDayEvent"
              [showWeek]="true"
              dateFormat="dd. MM yy"
              formControlName="startTime"
              hourFormat="24"
              id="starttime"
              placeholder="{{ 'appointments.START' | translate }} *"
              [showIcon]="true"
              [showOnFocus]="false"
            ></p-calendar>
          </div>
          <div class="p-field p-fluid p-col-4 p-md-2 p-d-flex p-as-end">
            <p-checkbox
              (onChange)="onAllDayChanged($event.checked)"
              [binary]="true"
              [formControl]="$any(formGroup).controls['allDay']"
              [label]="'appointments.ALLDAY' | translate"
              class="allDayCheckbox p-mb-2"
              id="allDay"
            ></p-checkbox>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="endtime">{{ 'appointments.END' | translate }} *</label>
            <p-calendar
              [required]="true"
              [showTime]="!isAllDayEvent"
              [showWeek]="true"
              dateFormat="dd. MM yy"
              formControlName="endTime"
              hourFormat="24"
              id="endtime"
              placeholder="{{ 'appointments.END' | translate }} *"
              [showIcon]="true"
              [showOnFocus]="false"
            ></p-calendar>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="status">{{ 'appointments.STATUS' | translate }} </label>
            <p-dropdown
              [autoDisplayFirst]="false"
              [options]="statusOptions"
              [showClear]="true"
              appendTo="body"
              formControlName="status"
              id="status"
              [placeholder]="'appointments.SELECT_STATUS' | translate"
            ></p-dropdown>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="expectation">{{ 'appointments.EXPECTATION' | translate }} </label>
            <p-dropdown
              [autoDisplayFirst]="false"
              [options]="expectationOptions"
              [showClear]="true"
              appendTo="body"
              formControlName="expectationId"
              id="expectation"
              placeholder="Select expectation"
            ></p-dropdown>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="venue">{{ 'appointments.VENUE' | translate }}</label>
            <p-dropdown
              (onChange)="onVenueChanged($event)"
              [autoDisplayFirst]="false"
              [options]="venueOptions"
              [showClear]="true"
              appendTo="body"
              id="venue"
              name="venue"
              placeholder="Select venue"
            ></p-dropdown>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="rooms">{{ 'appointments.ROOM' | translate }}</label>
            <p-autoComplete
              (completeMethod)="searchRoom($event)"
              (onSelect)="onRoomAdded($event)"
              (onUnselect)="onRoomRemoved($event)"
              [disabled]="rooms.length === 0"
              [dropdown]="true"
              [forceSelection]="true"
              [multiple]="true"
              [suggestions]="roomOptions"
              appendTo="body"
              field="name"
              id="rooms"
              name="rooms"
            ></p-autoComplete>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="publicDetails">{{ 'appointments.DETAILSPUBLIC' | translate }}</label>
            <textarea
              [autoResize]="false"
              [cols]="30"
              [rows]="5"
              formControlName="publicDetails"
              id="publicDetails"
              maxlength="1000"
              pInputTextarea
              placeholder="{{ 'appointments.DETAILSPUBLIC' | translate }}"
            ></textarea>
          </div>
          <div class="p-field p-fluid p-col-12 p-md-6">
            <label for="internalDetails">{{ 'appointments.DETAILSINTERNAL' | translate }}</label>
            <textarea
              [autoResize]="false"
              [cols]="30"
              [rows]="5"
              formControlName="internalDetails"
              id="internalDetails"
              maxlength="1000"
              pInputTextarea
              placeholder="{{ 'appointments.DETAILSINTERNAL' | translate }}"
            ></textarea>
          </div>

          <div class="p-col-12">
            <p-fieldset [collapsed]="true" [toggleable]="true" legend="{{ 'appointments.SALARY' | translate }}">
              <div class="p-grid p-formgrid">
                <div class="p-field p-fluid p-col-12 p-md-6">
                  <label for="salary">{{ 'appointments.SALARY' | translate }} </label>
                  <p-dropdown
                    [autoDisplayFirst]="false"
                    [options]="salaryOptions"
                    [showClear]="true"
                    [style]="{ 'min-width': '50%' }"
                    appendTo="body"
                    formControlName="salaryId"
                    id="salary"
                  ></p-dropdown>
                </div>
                <div class="p-field p-fluid p-col-12 p-md-6">
                  <div class="p-field">
                    <label for="salaryPattern">{{ 'appointments.SALARYPATTERN' | translate }}</label>
                    <p-dropdown
                      [autoDisplayFirst]="false"
                      [options]="salaryPatternOptions"
                      [showClear]="true"
                      [style]="{ 'min-width': '50%' }"
                      appendTo="body"
                      formControlName="salaryPatternId"
                      id="salaryPattern"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </p-fieldset>
          </div>
          <div class="p-col-12 p-d-flex p-jc-between p-mt-3">
            <div>
              <button
                type="button"
                (click)="cancelAndClose()"
                [label]="'CANCEL' | translate"
                pButton
                class="p-mr-3"
                icon="pi pi-times"
                iconPos="left"
              ></button>
              <button
                (click)="onSubmit()"
                [disabled]="formGroup.pristine || formGroup.invalid"
                [label]="'appointments.SAVE' | translate"
                icon="pi pi-check"
                iconPos="left"
                pButton
                type="submit"
                class="p-mr-3"
              ></button>
            </div>

            <button
              (click)="showDeleteConfirmation($event)"
              [label]="'DELETE' | translate"
              class="ml-3 p-button-danger"
              icon="pi pi-trash"
              iconPos="left"
              pButton
              type="button"
            ></button>
          </div>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="{{ 'appointments.PARTICIPATIONS' | translate }}" [disabled]="isNew">
      <p-table
        #participationTable
        (onFilter)="onTableFiltered($event)"
        [columns]="columns"
        [paginator]="true"
        [responsive]="true"
        [rows]="25"
        [value]="participationTableItems"
        id="participationTable"
        sortMode="multiple"
        [tableStyle]="{ 'table-layout': 'fixed' }"
      >
        <ng-template pTemplate="caption">{{ filteredDataCount }} {{ 'appointments.RESULTS' | translate }}</ng-template>
        <ng-template let-columns pTemplate="header">
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }" scope="col">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{ width: col.width }" scope="col">
              <input
                (input)="participationTable.filter($event.target.value, col.field, 'contains')"
                *ngSwitchCase="'surname'"
                pInputText
                type="text"
                [style]="{ width: '100%' }"
              />
              <input
                (input)="participationTable.filter($event.target.value, col.field, 'contains')"
                *ngSwitchCase="'givenName'"
                pInputText
                type="text"
                [style]="{ width: '100%' }"
              />
              <p-dropdown
                (onChange)="participationTable.filter($event.value, col.field, 'equals')"
                *ngSwitchCase="'prediction'"
                [autoDisplayFirst]="false"
                [options]="predictionOptions"
                [showClear]="true"
                [style]="{ width: '100%' }"
                appendTo="body"
              ></p-dropdown>
              <p-dropdown
                (onChange)="participationTable.filter($event.value, col.field, 'equals')"
                *ngSwitchCase="'result'"
                [autoDisplayFirst]="false"
                [options]="resultOptions"
                [showClear]="true"
                [style]="{ width: '100%' }"
                appendTo="body"
              ></p-dropdown>
              <p-dropdown
                (onChange)="participationTable.filter($event.value, col.field, 'contains')"
                *ngSwitchCase="'sections'"
                [autoDisplayFirst]="false"
                [options]="sectionSelectItems"
                [showClear]="true"
                [style]="{ width: '100%' }"
                appendTo="body"
              ></p-dropdown>

              <p-dropdown
                (onChange)="participationTable.filter($event.value, col.field, 'contains')"
                *ngSwitchCase="'qualification'"
                [autoDisplayFirst]="false"
                [options]="qualificationOptions"
                [showClear]="true"
                [style]="{ width: '100%' }"
                appendTo="body"
              ></p-dropdown>
            </th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr>
            <td>
              <span class="p-column-title">{{ 'SURNAME' | translate }}</span>
              {{ item.surname }}
            </td>
            <td>
              <span class="p-column-title">{{ 'GIVENNAME' | translate }}</span>
              {{ item.givenName }}
            </td>
            <td>
              <span class="p-column-title">{{ 'appointments.PREDICTION' | translate }}</span>
              <p-dropdown
                (onChange)="onPredictionChanged(item, $event)"
                [(ngModel)]="item.prediction"
                [autoDisplayFirst]="false"
                [name]="'prediction-' + item.id"
                [options]="predictionOptions"
                appendTo="body"
                [placeholder]="'appointments.SELECT_PREDICTION' | translate"
              ></p-dropdown>
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text"
                *ngIf="item.commentByPerformerInner"
                icon="pi pi-comment"
                (click)="op.toggle($event)"
              ></button>
              <p-overlayPanel #op>
                <ng-template pTemplate>
                  <p class="comment-overlay">{{ item.commentByPerformerInner }}</p>
                </ng-template>
              </p-overlayPanel>
            </td>
            <td>
              <span class="p-column-title">{{ 'appointments.RESULTS' | translate }}</span>
              <p-dropdown
                (onChange)="onResultChanged(item, $event)"
                [(ngModel)]="item.result"
                [autoDisplayFirst]="false"
                [name]="'result-' + item.id"
                [options]="resultOptions"
                appendTo="body"
                [placeholder]="'appointments.SELECT_STATUS' | translate"
              ></p-dropdown>
            </td>
            <td>
              <span class="p-column-title">{{ 'SECTIONS' | translate }}</span>
              {{ item.sections }}
            </td>
            <td>
              <span class="p-column-title">{{ 'appointments.QUALIFICATION' | translate }}</span>
              {{ item.qualification }}
            </td>
          </tr>
        </ng-template>
        <ng-template let-columns pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columns.length">{{ 'appointments.NORECORDS' | translate }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" style="margin-bottom: 1rem">
          {{ filteredDataCount }} {{ 'appointments.RESULTS' | translate }}
        </ng-template>
      </p-table>
      <div class="download-button">
        <button
          class="download-button"
          type="button"
          pButton
          icon="pi pi-download"
          (click)="table.exportCSV()"
          label="Download CSV"
        ></button>
      </div>
    </p-tabPanel>
  </p-tabView>
</ng-container>

<p-confirmPopup></p-confirmPopup>
