.indicator {
  margin-top: -.85rem;
  span {
    float: right;
    color: var(--surface-d);
    &.weak {
      color: #ef9a9a;
    }
    &.normal {
      color: var(--yellow-600);
    }
    &.strong {
      color: var(--green-400);
    }
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    .point {
      background: var(--surface-d);
      border-radius: 2px;
      display: inline-block;
      height: 5px;
      margin-right: 1px;
      width: 3rem;
    }
    .weak {
      background-color: #ef9a9a;
    }
    .normal {
      background-color: var(--yellow-600);
    }
    .strong {
      background-color: var(--green-400);
    }
  }
}
