.title {
  color: var(--primary-color);
  font-weight: normal;
  font-size: xx-large;

}

.status {
  color: var(--text-color-primary);;
  font-weight: normal;

}

.selectStatus {
  font-weight: bold;
}

.comment {
  font-weight: normal;
  font-size: larger;
  font-style: italic;
  color: var(--primary-color);
}

.hr1 {
  height: 5px;
  color: #cccccc;
  background: #cccccc;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 0fr 2fr;
  gap: 2em;
}
.vertical {
  border-left: 2px solid;
  color: var(--surface-d);
  height: 550px;
  //position: absolute;
  left: 33%;
  padding-right: 10px;
}

