<p-accordion>
  <p-accordionTab header='Heutige Probe für Chor früher!'>
    <p>Um eine Kollision mit Orchesteraufbau zu vermeiden, startet das Einsingen bereits um 18:30 </p>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='50%'></p-skeleton>
    <br>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='80%'></p-skeleton>
  </p-accordionTab>
  <p-accordionTab header='Programmänderung kommendes Konzert'>
    Erste Zugabe wird ausgetauscht, siehe neues Material in Bibliothek.<br>Wolfgang arbeitet derzeit noch Korrekturen in
    Schneeköniginpartitur ein. Stay tuned!
    <p-skeleton heigt='1rem' styleClass='rectangle' width='50%'></p-skeleton>
    <br>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='80%'></p-skeleton>
    <br>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='20%'></p-skeleton>
  </p-accordionTab>
  <p-accordionTab header='Neue Probentermine verfügbar'>
    Schaut mal rein und gebt uns Rückmeldung, wie's mit eurer Teilnahme ausschaut. Danke! :-)
    <p-skeleton height='1rem' styleClass='rectangle' width='50%'></p-skeleton>
    <br>
    <p-skeleton height='1rem' styleClass='rectangle' width='80%'></p-skeleton>
    <br>
    <p-skeleton height='1rem' styleClass='rectangle' width='20%'></p-skeleton>
  </p-accordionTab>
  <p-accordionTab header='Für RoSy @Bphil nur noch Kat. 5 verfügbar'>
    Evtl. bekommen wir noch von Eventim Karten zurück für die höheren Kategorien.
    <br>
    <p-skeleton height='1rem' styleClass='rectangle' width='20%'></p-skeleton>
  </p-accordionTab>
</p-accordion>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='40%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='60%'></p-skeleton>
