<ng-template #loading>
  <div class="spinner-container">
    <div class="arpa-spinner">
      <div class="spinner"></div>
    </div>
  </div>
</ng-template>
<div>
  <div>
    <h4 style="text-align: left">{{ 'projects.PARTICIPANTS_ACCEPTED' | translate }}: {{ finalResultsValues }}</h4>
  </div>
  <div class="instruments-container">
    <h5>{{ 'WOODWINDS' | translate }}</h5>
    <ng-container *ngFor="let key of sortedInstrumentKeys">
      <div
        *ngIf="
          key.includes('Flute') || key.includes('Oboe') || key.includes('Clarinet') || key.includes('Bassoon') || key.includes('Saxophone')
        "
      >
        <p>{{ instrumentFinalResults[key] }} x {{ key }}</p>
      </div>
    </ng-container>
  </div>
  <div class="instruments-container">
    <h5>{{ 'BRASS' | translate }}</h5>
    <ng-container *ngFor="let key of sortedInstrumentKeys">
      <div
        *ngIf="
          key.includes('Horn') ||
          key.includes('Trumpet') ||
          key.includes('Flugelhorn') ||
          key.includes('Trombone') ||
          key.includes('Euphonium') ||
          key.includes('Tuba')
        "
      >
        <p>{{ instrumentFinalResults[key] }} x {{ key }}</p>
      </div>
    </ng-container>
  </div>
  <div class="instruments-container">
    <h5>{{ 'PERCUSSION' | translate }}</h5>
    <ng-container *ngFor="let key of sortedInstrumentKeys">
      <div
        *ngIf="
          key.includes('Harp') ||
          key.includes('Mallets') ||
          key.includes('Percussion') ||
          key.includes('Drum Set') ||
          key.includes('Guitar') ||
          key.includes('Piano')
        "
      >
        <p>{{ instrumentFinalResults[key] }} x {{ key }}</p>
      </div>
    </ng-container>
  </div>
  <div class="instruments-container">
    <h5>{{ 'CHORUS' | translate }}</h5>
    <ng-container *ngFor="let key of sortedInstrumentKeys">
      <div *ngIf="key === 'Soprano' || key === 'Alto' || key === 'Tenor' || key === 'Bass'">
        <p>{{ instrumentFinalResults[key] }} x {{ key }}</p>
      </div>
    </ng-container>
  </div>
  <div class="instruments-container">
    <h5>{{ 'STRINGS' | translate }}</h5>
    <ng-container *ngFor="let key of sortedInstrumentKeys">
      <div *ngIf="key === 'Violin' || key === 'Viola' || key === 'Violoncello' || key === 'Double Bass'">
        <p>{{ instrumentFinalResults[key] }} x {{ key }}</p>
      </div>
    </ng-container>
  </div>
</div>
<div class="table-container">
  <ng-container *ngIf="ready; else loading">
    <arpa-table
      [columns]="columns"
      [values]="tableData"
      (filterEvents)="onTableFiltered($event)"
      (rowClickEvents)="openParticipationDialog($event)"
    ></arpa-table>
    <div>
      <h4 style="text-align: left">{{ 'RESULTS' | translate }}: {{ filteredDataCount }}</h4>
    </div>
  </ng-container>
</div>
