<!-- Graphql feed controls and holds graphql api results. -->
<arpa-graph-ql-feed #feedSource [contentTemplate]='feed' [query]='query'></arpa-graph-ql-feed>

<!-- The feed template is projected into the graph-ql-feed component. -->
<ng-template #feed let-feed>
  <arpa-table
    (lazyEvents)='feedSource.onLazy($event)'
    (rowClickEvents)='onRowClick($event)'
    [actionsTemplateRef]='actionsTemplate'
    [columns]='columns'
    [feed]='feed'
  >
    <ng-template arpaTableColumn='completed' let-value>
      <i *ngIf='value' class='pi pi-check-square'></i>
    </ng-template>
  </arpa-table>
</ng-template>

<!-- The actions template is used in the arpa-table component and added to each row. -->
<ng-template #actionsTemplate let-row>
  <button
    (click)='$event.stopPropagation();'
    [label]='"TOGGLE_MENU" | translate'
    [matMenuTriggerFor]='menu'
    class='p-button-rounded p-button-text p-button-icon-only'
    icon='pi pi-ellipsis-v'
    pButton
    type='button'></button>
  <mat-menu #menu='matMenu' xPosition='before'>
    <button
      (click)='openParticipationListDialog($event, row)'
      [label]='"SHOW_PARTICIPANTS" | translate'
      class='p-button-text'
      icon='pi pi-users'
      mat-menu-item
      pButton></button>
    <button
      (click)='openParticipationDialog($event, row.id)'
      *ngIf='!row.isCompleted'
      [label]='"EDIT_PARTICIPATION" | translate'
      class='p-button-text'
      icon='pi pi-sign-in'
      mat-menu-item
      pButton></button>
  </mat-menu>
</ng-template>
<div class='p-formgroup-inline p-jc-between'>
  <div class='p-field p-col p-text-right' style='margin-right: 0'>
    <button
      (click)='openProjectDetailDialog(null)'
      icon='pi pi-plus'
      label=" {{ 'projects.NEW_PROJECT' | translate }}"
      pButton></button>
  </div>
</div>
