.date {
  text-align: left;
  width: 7.0rem;
  border-right: 1px solid rgba(#fff, 0.25);
  padding-right: 1rem;

  .day {
    font-size: 2em;
    font-weight: 600;
    display: block;
  }

  .day-name {
    display: block;
    font-size: 0.7em;
    font-weight: 200;
    padding-bottom: 0.3rem;
  }
  .month-name {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
  }
  .year {
    display: block;
    font-size: 0.7em;
    font-weight: 100;
  }
  .time {
    display: block;
    opacity: .85;
    font-size: .85em;
    padding-bottom: 0.5rem;

  }
  .status {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    opacity: 0.7;
    letter-spacing: 0.1rem;
  }
}

.details {
  flex-grow: 1;
  line-height: 1.5em;

  .name {
    display: block;
    font-weight: 600;
    line-height: 2em;

    .p-badge {
      display: inline;
      margin-left: 1rem;
    }

    .p-tag {
      display: inline;
      margin-right: 1rem;
    }
  }
}

.projects {
    display: block;
    opacity: .60;
    font-size: 0.8em;
  }
.publicDetails {
    font-size: 0.9em;
    font-weight: 30;
    color: dodgerblue;
    font-style: italic;
  }

.headlineinfo {
  font-size: 1.0em;
  opacity: 0.50;
}
.venue {
  flex-grow: 1;
  line-height: 1.5em;
  display: block;
  font-size: small;
  font-weight: 300;
}

