<arpa-select-dialog
  #selectDialog
  (closeEvent)='onPredictionChanged($event)'
  [options]='(predictions | async) || []'
  [target]='predictionAction'
  title='profile.PREDICTION'
></arpa-select-dialog>

<div class='p-grid p-jc-center'>
  <div class='p-col-12 p-md-6 p-text-center'>
    <h1 #predictionAction>{{ 'profile.MY_APPOINTMENTS' | translate}} </h1>
    <h3>({{ (totalRecordsCount$ | async) || 0 }})</h3>
  </div>
</div>
<div class='p-grid p-jc-center p-mt-4'>
  <div class='p-col-12 p-md-10 p-lg-12'>
    <p-table
      (onLazyLoad)='loadData($event.rows, $event.first)'
      [lazy]='true'
      [rows]='itemsPerPage'
      [totalRecords]='(totalRecordsCount$ | async) || 0'
      [value]='(userAppointments$ | async) || []'
      tableStyleClass='arpa-table-list'
    >
      <ng-template let-appointment pTemplate='body'>
        <ng-container *ngTemplateOutlet='listElement; context: {$implicit: appointment}'></ng-container>
      </ng-template>
    </p-table>
  </div>
</div>

<ng-template #listElement let-appointment>
  <tr (click)='selectDialog.openDialog(appointment.predictionId, appointment)'>
    <td class='p-d-flex p-jc-between'>
      <div class='p-flex-column p-mr-4 date'>
        <span class='month-name'>{{ appointment.startTime | localizedDate: 'MMMM' }}</span>
        <span class='year'>{{ appointment.startTime | localizedDate: 'YYYY' }}</span>
        <span class='day'>{{ appointment.startTime | date: 'dd':'locale(de)' }}</span>
        <span class='day-name'>{{ appointment.startTime | localizedDate: 'EEEE' }}</span>



      </div>
      <div class='p-flex-column p-mr-2 details'>
        <span class='name'>{{ appointment.name }}
          <p-badge *ngIf='appointment.predictionId'
                   [value]=' appointment.predictionId | selectValue: predictions '></p-badge></span>
        <span class='time'>{{ appointment.startTime | date: 'H:mm':'locale(de)' }}
          - {{ appointment.endTime | date: 'H:mm':'locale(de)' }}</span>
        <span *ngIf='appointment.venue?.name' class='venue'>
          {{ appointment.venue?.name }}
        </span>
        <span *ngIf='appointment.category?.name' class='category'>
          {{ appointment.category?.name }}
        </span>
        <span *ngIf='appointment.projects.length > 0' class='projects'>
          {{ getProjectNames(appointment.projects) }}
        </span>
      </div>
      <div class='p-flex-column actions'>
        <button (click)='selectDialog.openDialog(appointment.predictionId, appointment)'
                class='p-button-rounded p-button-text p-button-icon-only'
                icon='pi pi-pencil'
                pButton
                type='button'></button>
      </div>
    </td>
  </tr>
</ng-template>
