.date {
  text-align: left;
  width: 7rem;
  border-right: 1px solid rgba(#fff, 0.25);
  padding-right: 1rem;
  height: 100%;
  padding-top: 0.5rem;

  .day {
    font-size: 2em;
    font-weight: 600;
    display: block;
  }

  .day-name {
    display: block;
    font-size: 0.7em;
    font-weight: 200;
    padding-bottom: 0.3rem;
  }
  .month-name {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
  }
  .year {
    display: block;
    font-size: 0.7em;
    font-weight: 100;
  }
  .time {
    display: block;
    opacity: 0.85;
    font-size: 0.85em;
    padding-bottom: 0.5rem;
  }
  .status {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    opacity: 0.7;
    letter-spacing: 0.1rem;
  }
}

.details {
  flex-grow: 1;
  height: 100%;

  .name {
    display: block;
    line-height: 2em;
    font-size: 1.3rem;

    .category {
      opacity: 0.8;
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .p-badge {
      display: inline;
      margin-left: 1rem;
    }

    .p-tag {
      display: inline;
      margin-right: 1rem;
    }
  }

  .label {
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
    opacity: 0.7;
  }
}

.projects {
  display: block;
  opacity: 0.6;
  font-size: 0.8em;
}
.publicDetails {
  font-size: 0.9em;
  font-weight: 30;
  color: dodgerblue;
  font-style: italic;
}

.headlineinfo {
  font-size: 1em;
  opacity: 0.5;
}
.venue {
  flex-grow: 1;
  line-height: 1.5em;
  display: block;
  font-size: small;
  font-weight: 300;
}

::ng-deep {
.tag.p-tag {
  width: 100%;
}
}
