.date {
  text-align: center;
  width: 5rem;
  border-right: 1px solid rgba(#fff, 0.25);

  .day {
    font-size: 2em;
    font-weight: 600;
    display: block;
  }

  .day-name {
    display: block;
  }
}

.details {
  flex-grow: 1;
  line-height: 1.5em;

  .name {
    display: block;
    font-weight: 600;
    line-height: 2em;

    p-badge {
      display: inline;
      margin-left: 1rem;
    }
  }

  .time {
    display: block;
    opacity: .85;
    font-size: .85em;
  }

  .projects {
    display: block;
    opacity: .65;
  }
}
