<div class='wrapper' [ngClass]="{'desktop':isDesktop}">
  <div class='side-view p-mr-2'>
    <ng-container
      [ngTemplateOutlet]='sideViewTemplateRef || defaultSideViewTemplate'
      [ngTemplateOutletContext]='{ $implicit: this }'
    ></ng-container>
  </div>
  <div class='content-view'
       [@stateTrigger]='trigger(viewState)'
       (@stateTrigger.start)='animating(true)'
       (@stateTrigger.done)='animating(false)'
  >
    <ng-container>
      <i class='pi pi-arrow-left back-link' (click)='hideContentView()'></i>
    </ng-container>
    <ng-container
      *ngIf='!outlet.isActivated'
      [ngTemplateOutlet]='contentDefaultTemplateRef || contentDefaultTemplate'
      [ngTemplateOutletContext]='{ $implicit: this }'
    ></ng-container>
    <router-outlet
      (activate)='onRouteActivation($event)'
      (deactivate)='onRouteDeactivation()'
      #outlet='outlet'></router-outlet>
    <router-outlet name='modal'></router-outlet>
  </div>
</div>

<ng-template #defaultSideViewTemplate>
</ng-template>

<ng-template #contentDefaultTemplate>
</ng-template>
