<div class="p-grid p-jc-center">
  <div class="p-col-12 p-md-6 p-text-center">
    <h1>{{ 'profile.MY_MUSICIANPROFILE' | translate }}</h1>
  </div>
</div>
<div class="p-grid p-jc-center p-mt-4">
  <div class="p-col-12 p-md-10 p-lg-6">
    <!-- Main Profile -->
    <p-table [value]="(profiles | async) || []" tableStyleClass="arpa-table-list">
      <ng-template pTemplate="header">
        <h2>
          {{ 'profile.MAIN_PROFILE' | translate }}
        </h2>
      </ng-template>
      <ng-template let-profile pTemplate="body">
        <ng-container *ngIf="profile.isMainProfile">
          <ng-container *ngTemplateOutlet="listElement; context: { $implicit: profile }"></ng-container>
        </ng-container>
      </ng-template>
    </p-table>
    <!-- Active Profiles -->
    <p-table [columns]="(profiles | async) || []" [value]="(profiles | async) || []" tableStyleClass="arpa-table-list">
      <ng-template let-columns pTemplate="header">
        <h2 *ngIf="columns.length > 1">
          {{ 'profile.ADDITIONAL_PROFILES' | translate }}
        </h2>
      </ng-template>
      <ng-template let-profile pTemplate="body">
        <ng-container *ngIf="!profile.isMainProfile">
          <ng-container *ngTemplateOutlet="listElement; context: { $implicit: profile }"></ng-container>
        </ng-container>
      </ng-template>
    </p-table>
    <!-- Disabled Profiles -->
    <p-table
      [columns]="(deactivatedProfiles | async) || []"
      [value]="(deactivatedProfiles | async) || []"
      tableStyleClass="arpa-table-list"
    >
      <ng-template let-columns pTemplate="header">
        <h2 *ngIf="columns.length > 0">
          {{ 'profile.DEACTIVATED_PROFILES' | translate }}
        </h2>
      </ng-template>
      <ng-template let-profile pTemplate="body">
        <ng-container>
          <ng-container *ngTemplateOutlet="listElement; context: { $implicit: profile }"></ng-container>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="p-grid p-jc-center" style="margin-top: 4rem">
  <div class="p-col-12 p-md-6 p-text-center">
    <button
      [attr.title]="'PROFILE.ADD_PROFILE' | translate"
      [routerLink]="[{ outlets: { modal: ['create'] } }]"
      icon="pi pi-plus"
      pButton
      type="button"
    ></button>
  </div>
</div>
<router-outlet name="modal"></router-outlet>

<ng-template #listElement let-profile>
  <tr [routerLink]="[{ outlets: { modal: ['me', profile.id] } }]">
    <td class="p-d-flex p-jc-between">
      <div class="p-mr-2">
        {{ profile.instrument?.name }}
      </div>
      <div class="p-flex-column actions">
        <button
          [routerLink]="[{ outlets: { modal: ['me', profile.id] } }]"
          class="p-button-rounded p-button-text p-button-icon-only"
          icon="pi pi-pencil"
          pButton
          type="button"
        ></button>
      </div>
    </td>
  </tr>
</ng-template>
