:host {

  display: block;

  h1 {
    display: block;
    margin-bottom: 2em;
  }

  h2 {
    margin-bottom: 4em;
    font-size: 2em;
  }

  font-size: 1em;
  text-align: center;

  p {
    margin-bottom: 2em;
  }
}
