<div class="p-grid">
  <div class="p-col-12 p-md-4">
    <p-listbox
      [options]="news || []"
      [(ngModel)]="selectedNews"
      optionLabel="label"
      [filter]="true"
      [filterPlaceHolder]="'FILTER_PLACEHOLDER' | translate"
      [emptyFilterMessage]="'EMPTY_FILTER_MESSAGE' | translate"
      [emptyMessage]="'EMPTY_MESSAGE' | translate"
      (onChange)="onSelectionChange($event)"
    >
      <ng-template let-news pTemplate="item">
        <div class="p-flex-column">
          <span class="p-text-bold">{{ news.title | uppercase }}</span>
          <ng-container *ngIf="news.title"
            ><span> | {{ news.text }}</span
            ><br /><span>({{ news.show }})</span></ng-container
          >
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="p-col-8 p-md-8">
    <div class="p-formgroup-inline p-jc-between">
      <h2>{{ selectedNews ? ('EDIT_NEWS' | translate) : ('CREATE_NEWS' | translate) }}</h2>
      <button
        *ngIf="selectedNews"
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        class="p-button-rounded p-button-danger p-button-outlined"
        (click)="delete($event)"
      ></button>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <div class="p-grid p-fluid p-formgrid">
        <div class="p-col-9">
          <arpa-form-field label="NEWS_TITLE">
            <input formControlName="title" id="title" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-9">
          <arpa-form-field label="NEWS_TEXT">
            <textarea formControlName="text" id="text" pInputText type="textarea"></textarea>
          </arpa-form-field>
        </div>
        <div class="p-col-9">
          <arpa-form-field label="URL">
            <input formControlName="url" id="url" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-9">
          <label for="show" class="inputswitch">{{ 'PUBLISH_NEWS' | translate }}</label>
          <p-inputSwitch formControlName="show" id="show" [ngModel]="true"></p-inputSwitch>
        </div>
        <hr />
        <div class="p-col-9" style="padding-top: 20px">
          <div class="p-formgroup-inline p-jc-between p-col-6">
            <p-button type="button" [label]="'CANCEL' | translate" (click)="resetForm()"></p-button>
            <p-button [disabled]="formGroup.invalid || formGroup.pristine" type="submit" [label]="'SAVE' | translate"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
