.dropFile {
  display: block;
  width: 100%;
  height: 4rem;
  background-color: var(--surface-d);
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #ffffff;
  text-align: center;
  line-height: 100%;
  vertical-align: baseline;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
