.project-title {
  font-size: large;
  font-weight: bold;
}
.project-type {
  font-size: small;
  opacity: 60%;
}
.project-date {
  text-transform: uppercase;
  font-weight: normal;
  opacity: 60%;
  font-size: small;
}

.content-item {
  display: flex;
  flex-direction: column;

  > label {
    font-size: x-small;
    opacity: 70%;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 0.3rem;
  }
  > span {
    font-size: small;
    opacity: 90%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.status-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  > label {
    font-size: x-small;
    opacity: 60%;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 0.3rem;
  }
  > span {
    font-size: large;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.tag-label {
  font-size: x-small;
  font-weight: lighter;
}
.tag-width {
  width: 6rem;
}
.tab-header {
  font-size: smaller;
  font-weight: lighter;
}

.li {
  padding-bottom: 0.5rem;
  list-style-type: disc;
}
.parentProject {
  font-weight: normal;
  opacity: 90%;
  font-size: small;
}
.status-hint {
  font-weight: bolder;
  opacity: 100%;
  font-size: large;
  font-style: italic;
  lighting-color: var(--text-color-secondary);
}
