:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  font-size: .85em;
  line-height: 1.25em;
  text-align: right;
  margin-right: .5rem;

  span {
    display: block;

    & + span {
      font-size: .65em;
    }
  }
}

arpa-avatar {
  &:hover {
    cursor: pointer;
  }
}
