<p-accordion>
  <p-accordionTab header='Bitte Angabe zu Probenterminen machen'>
    <p>Für das übernächste Projekte bitte angeben, welche Proben du wahrnehmen kannst.</p>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='50%'></p-skeleton>
    <br>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='80%'></p-skeleton>
  </p-accordionTab>
  <p-accordionTab header='Originalnoten zurück an Laura'>
    Du müsstest noch das original Verlagsmaterial von XYZ haben, bitte zurückgeben, Danke!
    <p-skeleton heigt='1rem' styleClass='rectangle' width='50%'></p-skeleton>
    <br>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='80%'></p-skeleton>
    <br>
    <p-skeleton heigt='1rem' styleClass='rectangle' width='20%'></p-skeleton>
  </p-accordionTab>
  <p-accordionTab header='Fahrtkosten einreichen für letztes Projekt'>
    Keine Kostenerstattung ohne Beleg :-)
    <p-skeleton height='1rem' styleClass='rectangle' width='50%'></p-skeleton>
    <br>
    <p-skeleton height='1rem' styleClass='rectangle' width='80%'></p-skeleton>
    <br>
    <p-skeleton height='1rem' styleClass='rectangle' width='20%'></p-skeleton>
  </p-accordionTab>

</p-accordion>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
