<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='70%'></p-skeleton>
