<form (ngSubmit)='onSubmit()' [formGroup]='form' class='body'>
  <div class='p-grid p-formgrid p-fluid'>
    <div class='p-col'>
      <arpa-form-field label='PROJECTS' type='select'>
        <p-multiSelect
          [options]='projects || []'
          [placeholder]="'NOTHING_SELECTED' | translate"
          display='chip'
          formControlName='projects'
          optionLabel='title'
          optionValue='id'
        >
          <ng-template let-project pTemplate='item'>
            <span>{{ project.title }} ({{ project.code }})</span>
          </ng-template>
        </p-multiSelect>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-formgroup-inline p-jc-between'>
    <div class='p-text-left'>
      <p-button
        [disabled]='form.pristine || form.invalid'
        [label]="'SAVE' | translate"
        icon='pi pi-check'
        iconPos='left'
        type='submit'
      ></p-button>
    </div>
    <div class='p-text-right'>
      <button
        (click)='cancel()'
        [label]="'CANCEL' | translate"
        class='p-ml-3 p-button-outlined'
        icon='pi pi-times'
        iconPos='left'
        pButton
      ></button>
    </div>
  </div>
</form>
