<div
  [ngClass]='{
    "p-field p-float-label" : type === "input",
    "p-field-checkbox" : type === "checkbox",
    "p-field" : type === "field"
  }'
>
  <label *ngIf='label && type !== "input" && type !== "checkbox"'
         [attr.for]="this.formControl.name"
  >{{ label | translate }}</label>
  <ng-content></ng-content>
  <label *ngIf='label && type === "input" || type === "checkbox"'
         [attr.for]="this.formControl.name"
  >{{ label | translate }}</label>
</div>
<ng-container [ngTemplateOutlet]='footerTemplateRef || null' [ngTemplateOutletContext]='{ $implicit: this }'></ng-container>
<div class='error' *ngIf="hasErrors && showErrors" [@inOutAnimation]>
  <span><i class='pi pi-exclamation-triangle'></i> {{ errorMessage }}</span>
</div>
