.error {
  color: #ef9a9a;
}
.error {
  margin-top: .5rem;
  margin-left: .25rem;
  margin-bottom: .5rem;
  i {
    vertical-align: text-bottom;
    margin-right: .25rem;
    opacity: .25;
  }
}
.p-field-checkbox {
  margin-top: 2rem;
}

.p-float-label + .error {
  margin-top: -.5rem;
}
