.main-wrapper {
  .main-content {
        padding: 80px 15px 15px 15px;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 65px);
        -moz-transition: margin-left 0.3s;
        -o-transition: margin-left 0.3s;
        -webkit-transition: margin-left 0.3s;
        transition: margin-left 0.3s;

        @media (max-width: 960px) {
          padding-top: 120px;
        }
  }
}
