<mat-sidenav-container autosize>
  <mat-sidenav #drawer class="sidenav" [fixedInViewport]="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [ngClass]="{'collapsed' : !isExpanded && (isHandset$ | async) !== true, 'expanded' : isExpanded, 'mobile': (isHandset$ | async) }">

    <mat-toolbar style="main-toolbar">
      <div class="logo" *ngIf="(isHandset$ | async) !== true" [routerLink]="['/arpa']">
        <img src="assets/common/logos/organisation_icon.png">
      </div>
      Arpa 2.0
      <ng-container *ngIf="(isHandset$ | async) !== true">
        <a class='icon-pin' aria-label="Toggle sidenav"
           (click)="setState()"
        ></a>
      </ng-container>
    </mat-toolbar>
    <arpa-menu name='feature'></arpa-menu>
    <arpa-theme-switcher></arpa-theme-switcher>
  </mat-sidenav>


  <mat-sidenav-content [ngClass]="{'expanded' : isExpanded && (isHandset$ | async) !== true, 'mobile' : (isHandset$ | async)}">
    <mat-toolbar class="main-toolbar" #navToolBar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo" *ngIf="isHandset$ | async">
        <img src="assets/common/logos/organisation_icon.png">
      </div>
      <arpa-topbar></arpa-topbar>
    </mat-toolbar>
    <div class="main-content">
      <arpa-loading></arpa-loading>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
