<div class='topbar clearfix'>
  <a class='icon-menu' (click)='sideBarDisplay = true'></a>
  <a routerLink='/' class='logo-link'>
    <img src='assets/organization/icons/organisation_icon.png' class='topbar-logo' routerLink='/' />
  </a>
  <div class='p-d-none p-d-sm-inline-flex'><h1 class='page-title p-ml-4'>{{ pageTitle | translate }}</h1></div>
  <ul class='topbar-menu'>
    <li class='user-profile-item' *ngIf='token$ | async as token'>
      <a href='#' (click)='userprofilemenu.toggle($event); $event.preventDefault();'>
        <arpa-avatar [user]='token' [image]='true' [size]='"large"'></arpa-avatar>
        <span class='user-profile-name'>{{ token.displayName }}</span>
        <span class='user-profile-role'>{{ getRoleNames(token) }}</span>
      </a>
    </li>
  </ul>
</div>
<arpa-menu name='user' #userprofilemenu menuClass='topbar-menu' [popup]='true'></arpa-menu>
<p-sidebar [(visible)]='sideBarDisplay'>
  <arpa-menu name='feature'></arpa-menu>
</p-sidebar>
