<!-- Graphql feed controls and holds graphql api results. -->
<arpa-graph-ql-feed #feedSource [contentTemplate]='feed' [query]='query'></arpa-graph-ql-feed>

<router-outlet name='modal'></router-outlet>

<!-- The feed template is projected into the graph-ql-feed component. -->
<ng-template #feed let-feed>
  <arpa-table
    (lazyEvents)='feedSource.onLazy($event)'
    (rowClickEvents)='onRowClick($event)'
    [columns]='columns'
    [feed]='feed'
  ></arpa-table>
</ng-template>
<div class='p-formgroup-inline p-jc-between'>
  <div class='p-field p-col p-text-right' style='margin-right: 0'>
    <button label="{{ 'persons.ADD_NEW_PERSON' | translate }}"
          icon='pi pi-plus' pButton
          (click)='openPersonDetailDialog(null)'
          type='button'></button>
  </div>
</div>
