arpa-logo {
  display: inline-block;
  margin-bottom: 4rem;
}

img {
  width: 100%;
  max-width: 18rem;
  display: block;
  margin: 4rem auto;
}

.mat-icon {
  font-size: 14rem;
  height: 14rem;
  width: 14rem;
  opacity: .25;
}
