
@media all and (min-width: 768px) {
    .login-layout {
        padding-top: 50%;
        text-align: right;
      }
    .login-sep1 {
        padding-top: 100px;
        padding-right: 0px;
    }
  }

 @media all and (max-width: 768px) {
    .login-layout {
        padding-top: 5%;
        text-align: right;
      }
    .login-sep1 {
        padding-top: 20px;
        padding-right: 0px;
    }
  }
