<div class="login-layout">
    <form [formGroup] = "loginFormGroup" (ngSubmit)="submit()">
        <div class="p-field">
            <input id="emailadress" type="text" pInputText placeholder="{{ 'USERNAME' | translate }}" formControlName="userName">
        </div>
        <div class="p-field">
            <input type="password" placeholder="{{ 'PASSWORD' | translate }}" pPassword [feedback]=false formControlName="password"> 
        </div>

        <button 
            pButton 
            label="{{ 'LOGIN' | translate }}"            
            [disabled]="loginFormGroup.invalid || loginFormGroup.pristine">
        </button>
    </form>

    <div class="p-field login-sep1" >
        <p-button label="{{ 'REGISTER' | translate }}" styleClass="p-button-link"></p-button>
    </div>

    <div class="p-field" >
        <p-button label="{{ 'RESETPASSWORD' | translate }}" styleClass="p-button-link"></p-button>
    </div>



  </div>