<form [formGroup]='form'>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-col'>
      <div class='dropFile'>DropFile (disabled)</div>
    </div>
  </div>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-col'>
      <arpa-form-field label='musician-profile.DOCUMENT_TYPE' type='select'>
        <p-dropdown
          [options]='(documentTypes | async) || []'
          [placeholder]='"NOTHING_SELECTED" | translate'
          formControlName='documentId'
          optionLabel='label'
          optionValue='value'
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class='p-col'>
      <button
        (click)='add()'
        [disabled]='form.pristine || form.invalid'
        [label]="'ADD' | translate"
        icon='pi pi-check'
        iconPos='right'
        pButton
        type='button'
      ></button>
    </div>
  </div>
</form>
<arpa-table
  [actionsTemplateRef]='actionsTemplate'
  [columns]='columns'
  [data]='documentList'
  [showFilter]='false'
  [showPagination]='false'
>
</arpa-table>

<ng-template #actionsTemplate let-row>
  <button
    (click)='remove(row.value)'
    [label]='"musician-profile.DELETE" | translate'
    class='p-button-rounded p-button-text p-button-icon-only'
    icon='pi pi-trash'
    pButton
    type='button'></button>
</ng-template>
<!--
<p-table [value]='documents'>
  <ng-template pTemplate='header'></ng-template>
  <ng-template let-document pTemplate='body'>
    <tr>
      <td>
        <span class='pi pi-file-pdf'></span>
      </td>
      <td>
        {{ document }}
      </td>
      <td class='p-text-right'>
        <button
          (click)='remove(document)'
          [label]='"musician-profile.DELETE" | translate'
          class='p-button-rounded p-button-text p-button-icon-only'
          icon='pi pi-trash'
          pButton
          type='button'></button>
      </td>
    </tr>
  </ng-template>
</p-table>
-->
