<!-- <arpa-split-view> -->
  <ng-template #sideViewTemplate>
    <arpa-graph-ql-feed #feedSource [contentTemplate]='feed' [query]='query' [variables]='{take:50}'>
      <ng-template #feed let-feed>
        <div [class.hasSelection]='person'>
          <arpa-table
            (lazyEvents)='feedSource.onLazy($event)'
            (rowClickEvents)='select($event)'
            [columnFilter]='false'
            [feed]='feed'
            [rowTemplateRef]='rowTemplate'
            [rowsPerPage]='undefined'
            [showFilter]='true'
            [showFirstLastIcon]='false'
            [showPageLinks]='false'
            [showPagination]='true'
            selectionMode='single'
            tableStyleClass='arpa-table-list'
          ></arpa-table>
          <ng-template #rowTemplate let-row>
            <td>
              <arpa-avatar [image]='false' [user]='row.person' size='large'></arpa-avatar>
              <div class='details'>
                <div class='name'>{{row.person.givenName}} {{row.person.surname}}</div>
                <div class='profile'>{{row.instrument.name}}</div>
                <div class='country'>Deutschland, Berlin</div>
              </div>
            </td>
          </ng-template>
        </div>
      </ng-template>
    </arpa-graph-ql-feed>
  </ng-template>
  <ng-template #contentDefaultTemplate>
    <div class='default p-d-flex'>
      <i class='pi pi-user'></i>
    </div>
  </ng-template>
<!-- </arpa-split-view> -->
