<arpa-split-view>
  <ng-template #sideViewTemplate>
    <div class='p-flex-column' [class.hasSelection]='person'>
      <p-listbox
        [options]='persons'
        optionValue='id'
        optionLabel='filterOption'
        [(ngModel)]='person'
        [filter]='true'
        (onClick)='select($event)'
        filterPlaceHolder='Search'
      >
        <ng-template let-user pTemplate='item'>
          <arpa-avatar [user]='user' [image]='(user.surname=== "Admin")' size='large'></arpa-avatar>
          <div class='details'>
            <div class='name'>{{user.givenName}} {{user.surname}}</div>
            <div class='profile'>Instrument</div>
            <div class='country'>Deutschland, Berlin</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </ng-template>
  <ng-template #contentDefaultTemplate>
    <div class='default p-d-flex'>
      <i class='pi pi-user'></i>
    </div>
  </ng-template>
</arpa-split-view>
