<div class="p-grid">
  <div class="p-col-12 p-lg-4">
    <p-listbox
      [options]="venues || []"
      [(ngModel)]="selectedVenue"
      optionLabel="label"
      [filter]="true"
      [filterPlaceHolder]="'FILTER_PLACEHOLDER' | translate"
      [emptyFilterMessage]="'EMPTY_FILTER_MESSAGE' | translate"
      [emptyMessage]="'EMPTY_MESSAGE' | translate"
      (onChange)="onVenueSelectionChange($event)"
      id="venue-list"
    >
      <ng-template let-venue pTemplate="item">
        <div class="p-flex-column">
          <span class="p-text-bold">{{ venue.name | uppercase }}</span
          ><ng-container *ngIf="venue.address"
            ><span>, {{ venue.address.zip }} {{ venue.address.city }}</span
            ><br /><span>({{ venue.address.country }})</span></ng-container
          >
        </div>
      </ng-template></p-listbox
    >
  </div>
  <div class="p-col-12 p-lg-8">
    <div class="p-formgroup-inline p-jc-between venue-header">
      <h2>{{ selectedVenue ? ('EDIT_VENUE' | translate) : ('CREATE_VENUE' | translate) }}</h2>
      <button
        *ngIf="selectedVenue"
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        class="p-button-rounded p-button-danger p-button-outlined"
        (click)="confirmVenueDeletion($event)"
      ></button>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="venue-form">
      <div class="p-grid p-fluid p-formgrid">
        <div class="p-col-12">
          <arpa-form-field label="NAME">
            <input formControlName="name" id="name" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12">
          <arpa-form-field label="DESCRIPTION">
            <textarea formControlName="description" id="description" pInputText type="text"></textarea>
          </arpa-form-field>
        </div>
        <div class="p-col-12 p-xl-6">
          <arpa-form-field label="ADDRESS1">
            <input formControlName="address1" id="address1" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12 p-xl-6">
          <arpa-form-field label="ADDRESS2">
            <input formControlName="address2" id="address2" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12 p-xl-4">
          <arpa-form-field label="ZIP">
            <input formControlName="zip" id="zip" pInputText type="text" required="true" />
          </arpa-form-field>
        </div>
        <div class="p-col-12 p-xl-8">
          <arpa-form-field label="CITY">
            <input formControlName="city" id="city" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12">
          <arpa-form-field label="URBANDISTRICT">
            <input formControlName="urbanDistrict" id="urbanDistrict" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12 p-xl-6">
          <arpa-form-field label="STATE">
            <input formControlName="state" id="state" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12 p-xl-6">
          <arpa-form-field label="COUNTRY">
            <input formControlName="country" id="country" pInputText type="text" />
          </arpa-form-field>
        </div>
        <div class="p-col-12">
          <arpa-form-field label="ADDRESS_COMMENT_INNER">
            <textarea formControlName="addressCommentInner" id="addressCommentInner" pInputText type="text"></textarea>
          </arpa-form-field>
        </div>
      </div>
      <div class="p-formgroup-inline p-jc-between">
        <p-button type="button" [label]="'CANCEL' | translate" (click)="resetForm()"></p-button>
        <p-button [disabled]="formGroup.invalid || formGroup.pristine" type="submit" [label]="'SAVE' | translate"></p-button>
      </div>
    </form>
    <div class="p-formgroup-inline p-jc-between venue-header" *ngIf="selectedVenue">
      <h2>{{ 'ROOMS' | translate }}</h2>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-primary p-button-outlined"
        (click)="addRoom()"
      ></button>
    </div>
    <p-dataView
      *ngIf="selectedVenue && selectedVenue.rooms && selectedVenue.rooms.length > 0"
      [value]="selectedVenue.rooms"
      filterBy="name"
    >
      <ng-template let-room pTemplate="listItem">
        <div class="p-col-12">
          <div class="room-list-item">
            <div class="room-list-detail">
              <div class="room-name">{{ room.name }}</div>
              <div class="room-description" *ngIf="room.building || room.floor">
                <span *ngIf="room.building">{{ room.building }}</span>
                <span *ngIf="room.floor">, {{ room.floor }}</span>
              </div>
              <div class="p-d-flex p-ai-center">
                <p-chip
                  *ngIf="room.sizeInSquareMeters"
                  [label]="room.sizeInSquareMeters + ' m²'"
                  icon="pi pi-map"
                  styleClass="p-mr-2"
                ></p-chip>
                <p-chip
                  *ngIf="room.ceilingHeight"
                  [label]="'ceilingHeight.' + room.ceilingHeight | translate"
                  icon="pi pi-arrow-up"
                  styleClass="p-mr-2"
                ></p-chip>
                <p-chip *ngIf="room.capacity" [label]="room.capacity.name" icon="pi pi-users" styleClass="p-mr-2"></p-chip>
              </div>
            </div>
            <div class="room-list-action">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-outlined"
                icon="pi pi-pencil"
                [label]="'EDIT_ROOM' | translate"
                (click)="editRoom(room)"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                class="p-button-danger p-button-text"
                icon="pi pi-trash"
                [label]="'DELETE_ROOM' | translate"
                (click)="confirmRoomDeletion($event, room)"
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
