<p>Versuch eines Chorstellplans...</p>
<div class="p-grid">
  <div class="p-col-fixed" style="width:100%">Positionen:</div>
  <div class="p-col"></div>
    <div class="p-col">1</div>
    <div class="p-col">2</div>
    <div class="p-col">3</div>
    <div class="p-col">4</div>
    <div class="p-col">5</div>
    <div class="p-col">6</div>
    <div class="p-col">7</div>
    <div class="p-col">8</div>
    <div class="p-col">9</div>
    <div class="p-col">10</div>
    <div class="p-col">11</div>
    <div class="p-col">12</div>
    <div class="p-col">13</div>
    <div class="p-col">14</div>
    <div class="p-col">15</div>
    <div class="p-col">16</div>
    <div class="p-col">17</div>
    <div class="p-col">18</div>
    <div class="p-col">19</div>
    <div class="p-col">20</div>
  </div>
  <div><br></div>

  <div class="p-grid">
    <div class="p-col" style="text-align: center">3. Reihe </div>
      <div class="p-col">
        <i class="pi pi-user"></i>
      </div>

      <div class="p-col"> <i class="pi pi-user" style="color: yellow;"></i></div>
      <div class="p-col"> <i class="pi pi-user"></i></div>
      <div class="p-col"> <i class="pi pi-user"></i></div>
      <div class="p-col"> <i class="pi pi-user"></i></div>
      <div class="p-col">6</div>
      <div class="p-col">7</div>
      <div class="p-col">8</div>
      <div class="p-col">9</div>
      <div class="p-col">10</div>
      <div class="p-col">11</div>
      <div class="p-col">12</div>
      <div class="p-col">13</div>
      <div class="p-col">14</div>
      <div class="p-col">15</div>
      <div class="p-col">16</div>
      <div class="p-col">17</div>
      <div class="p-col">18</div>
      <div class="p-col">19</div>
      <div class="p-col">20</div>
    </div>

    <div class="p-grid">
      <div class="p-col" style="text-align: center">2. Reihe</div>
        <div class="p-col">
          <i class="pi pi-user"></i>
        </div>

        <div class="p-col"> <i class="pi pi-user" style="color: yellow;"></i></div>
        <div class="p-col"> <i class="pi pi-user"></i></div>
        <div class="p-col"> <i class="pi pi-user"></i></div>
        <div class="p-col"> <i class="pi pi-user"></i></div>
        <div class="p-col">6</div>
        <div class="p-col">7</div>
        <div class="p-col">8</div>
        <div class="p-col">9</div>
        <div class="p-col">10</div>
        <div class="p-col">11</div>
        <div class="p-col">12</div>
        <div class="p-col">13</div>
        <div class="p-col">14</div>
        <div class="p-col">15</div>
        <div class="p-col">16</div>
        <div class="p-col">17</div>
        <div class="p-col">18</div>
        <div class="p-col">19</div>
        <div class="p-col">20</div>
      </div>

      <div class="p-grid">
        <div class="p-col" style="text-align: center">1. Reihe </div>
          <div class="p-col">
            <i class="pi pi-user"></i>
          </div>

          <div class="p-col"> <i class="pi pi-user" style="color: yellow;"></i></div>
          <div class="p-col"> <i class="pi pi-user"></i></div>
          <div class="p-col"> <i class="pi pi-user"></i></div>
          <div class="p-col"> <i class="pi pi-user"></i></div>
          <div class="p-col">6</div>
          <div class="p-col">7</div>
          <div class="p-col">8</div>
          <div class="p-col">9</div>
          <div class="p-col">10</div>
          <div class="p-col">11</div>
          <div class="p-col">12</div>
          <div class="p-col">13</div>
          <div class="p-col">14</div>
          <div class="p-col">15</div>
          <div class="p-col">16</div>
          <div class="p-col">17</div>
          <div class="p-col">18</div>
          <div class="p-col">19</div>
          <div class="p-col">20</div>
        </div>
