<p-overlayPanel #op [showCloseIcon]="true">
  <ng-template pTemplate>
    <ng-container *ngIf="lastInvitation; else EMPTY">
      <p>{{ 'The following persons have been invited successfully' | translate }}:</p>
      <ul>
        <li *ngFor="let item of lastInvitation.successfulInvites | keyvalue">{{ item.key }} ({{ item.value }})</li>
      </ul>
      <p>
        {{ 'Hint: Some of the invited persons have multiple e-mail addresses. (The first one was used for the invitation)' | translate }}:
      </p>
      <ul>
        <li *ngFor="let item of lastInvitation.personsWithMultipleEmailAddresses | keyvalue">
          {{ item.key }} ({{ item.value.join(', ') }})
        </li>
      </ul>
      <p>{{ 'The following persons have not been invited due to' | translate }}...</p>
      <p>...{{ 'a missing e-mail address' | translate }}:</p>
      <ul>
        <li *ngFor="let item of lastInvitation.personsWithoutEmailAddress">
          {{ item }}
        </li>
      </ul>
      <p>...{{ 'an existing registration' | translate }}:</p>
      <ul>
        <li *ngFor="let item of lastInvitation.personsAlreadyRegistered">
          {{ item }}
        </li>
      </ul>
      <p>...{{ 'an invitation failure' | translate }}:</p>
      <ul>
        <li *ngFor="let item of lastInvitation.failedInvites | keyvalue">{{ item.key }} ({{ item.value }})</li>
      </ul>
    </ng-container>
  </ng-template>
</p-overlayPanel>
<ng-template #EMPTY>
  <p>{{'No invitation has been executed yet' | translate }}</p>
</ng-template>
<button
  class="p-mb-3"
  pButton
  type="button"
  [label]="'Invite persons of current page' | translate"
  (click)="sendInvitationToMultiplePersons($event, op)"
></button>

<!-- Graphql feed controls and holds graphql api results. -->
<arpa-graph-ql-feed #feedSource [contentTemplate]="feed" [query]="query"></arpa-graph-ql-feed>

<router-outlet name="modal"></router-outlet>

<!-- The feed template is projected into the graph-ql-feed component. -->
<ng-template #feed let-feed>
  <arpa-table
    (lazyEvents)="feedSource.onLazy($event)"
    [columns]="columns"
    [feed]="feed"
    [actionsTemplateRef]="actionsTemplate"
  ></arpa-table>
</ng-template>

<ng-template #actionsTemplate let-row>
  <button
    (click)="sendSingleInvite(row.person.id)"
    class="p-button-rounded p-button-text p-button-icon-only"
    icon="pi pi-envelope"
    pButton
    type="button"
  ></button>
</ng-template>
