<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<div [ngSwitch]="activeIndex">
  <ng-container *ngSwitchCase="0">
    <form (submit)="onSubmit(false)" [formGroup]="formGroup">
      <div class="p-grid">
        <div class="p-col-12">
          <div class="card card-w-title">
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-4">
                <div class="p-col-12">
                  <div class="p-field">
                    <label for="title">{{ 'editappointments.TITLE' | translate }} *</label>
                    <input required type="text" pInputText placeholder="{{ 'editappointments.TITLE' | translate }} *" formControlName="name" maxlength="50" id="title" />
                  </div>
                </div>
                <div class="p-col-12">
                  <div class="p-field p-fluid">
                    <label for="starttime">{{ 'editappointments.START' | translate }} *</label>
                    <p-calendar
                      [required]="true"
                      formControlName="startTime"
                      id="starttime"
                      dateFormat="dd.MM yy"
                      [showWeek]="true"
                      [showTime]="true"
                      hourFormat="24"
                      placeholder="{{ 'editappointments.START' | translate }} *"
                    ></p-calendar>
                  </div>
                </div>
                <div class="p-col-12">
                  <div class="p-field p-fluid">
                    <label for="endtime">{{ 'editappointments.END' | translate }} *</label>
                    <p-calendar
                      [required]="true"
                      formControlName="endTime"
                      dateFormat="dd.MM yy"
                      [showWeek]="true"
                      id="endtime"
                      [showTime]="true"
                      hourFormat="24"
                      placeholder="{{ 'editappointments.END' | translate }} *"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <div class="p-col-12">
                  <div class="p-field p-fluid">
                    <label for="status">{{ 'editappointments.STATUS' | translate }} *</label>
                    <p-dropdown
                      appendTo="body"
                      placeholer="Select status"
                      [showClear]="true"
                      [required]="true"
                      formControlName="statusId"
                      [autoDisplayFirst]="false"
                      [options]="statusOptions"
                      id="status"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="p-col-12">
                  <div class="p-field p-fluid">
                    <label for="category">{{ 'editappointments.CATEGORY' | translate }}  *</label>
                    <p-dropdown
                      appendTo="body"
                      [autoDisplayFirst]="false"
                      placeholer="Select category"
                      [showClear]="true"
                      [required]="true"
                      formControlName="categoryId"
                      [autoDisplayFirst]="false"
                      [options]="categoryOptions"
                      id="category"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="p-col-12">
                  <div class="p-field p-fluid">
                    <label for="expectation">{{ 'editappointments.EXPECTATION' | translate }} *</label>
                    <p-dropdown
                      appendTo="body"
                      [autoDisplayFirst]="false"
                      placeholer="Select expectation"
                      [showClear]="true"
                      [required]="true"
                      formControlName="expectationId"
                      [autoDisplayFirst]="false"
                      [options]="expectationOptions"
                      id="expectation"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="p-col-12 p-md-6 p-lg-4">
                <div class="p-col-12">
                  <div class="p-field p-fluid">
                    <label for="publicDetails">{{ 'editappointments.DETAILSPUBLIC' | translate }}</label>
                    <textarea
                      formControlName="publicDetails"
                      id="publicDetails"
                      [rows]="3"
                      [cols]="30"
                      pInputTextarea
                      placeholder="{{ 'editappointments.DETAILSPUBLIC' | translate }}"
                      maxlength="1000"
                      autoResize="autoResize"
                    ></textarea>
                  </div>
                </div>
                <div class="p-col-12">
                  <div class="p-field">
                    <label for="internalDetails">{{ 'editappointments.DETAILSINTERNAL' | translate }}</label>
                    <textarea
                      id="internalDetails"
                      formControlName="internalDetails"
                      [rows]="3"
                      [cols]="30"
                      pInputTextarea
                      maxlength="1000"
                      placeholder="{{ 'editappointments.DETAILSINTERNAL' | translate }}"
                      autoResize="autoResize"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="p-col-12">
                <p-fieldset legend="{{ 'editappointments.EMOLUMENT' | translate }}">
                  <div class="p-col-12">
                    <div class="p-field">
                      <label for="emolument">{{ 'editappointments.EMOLUMENT' | translate }} *</label>
                      <p-dropdown
                        appendTo="body"
                        [required]="true"
                        formControlName="emolumentId"
                        [showClear]="true"
                        [options]="emolumentOptions"
                        [autoDisplayFirst]="false"
                        id="emolument"
                        [style]="{ 'min-width': '50%' }"
                      ></p-dropdown>
                    </div>
                  </div>
                  <div class="p-col-12">
                    <div class="p-field">
                      <label for="emolumentPattern">{{ 'editappointments.EMOLUMENTPATTERN' | translate }}</label>
                      <p-dropdown
                        appendTo="body"
                        formControlName="emolumentPatternId"
                        [options]="emolumentPatternOptions"
                        [showClear]="true"
                        [autoDisplayFirst]="false"
                        id="emolumentPattern"
                        [style]="{ 'min-width': '50%' }"
                      ></p-dropdown>
                    </div>
                  </div>
                </p-fieldset>
              </div>
              <div class="p-col-12" style="display: flex; justify-content: space-between">
                <div>
                  <button
                    pButton
                    type="submit"
                    [label]="'editappointments.SAVECLOSE' | translate"
                    icon="pi pi-check"
                    iconPos="left"
                    [disabled]="formGroup.pristine || formGroup.invalid"
                  ></button>
                  <button
                    pButton
                    class="p-ml-3"
                    type="button"
                    [label]="'editappointments.SAVECONTINUE' | translate"
                    icon="pi pi-arrow-right"
                    iconPos="left"
                    [disabled]="formGroup.pristine || formGroup.invalid"
                    (click)="onSubmit(true)"
                  ></button>
                </div>
                <button
                  pButton
                  class="p-ml-3 p-button-danger"
                  type="button"
                  [label]="'DELETE' | translate"
                  icon="pi pi-trash"
                  iconPos="left"
                  (click)="showDeleteConfirmation($event)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <div class="card card-w-title">
      <div class="p-grid form-group">
        <div class="p-col-12">
          <div class="p-field p-fluid">
            <label for="venue">{{ 'editappointments.VENUE' | translate }}</label>
            <p-dropdown
              appendTo="body"
              [autoDisplayFirst]="false"
              placeholer="Select venue"
              [showClear]="true"
              [autoDisplayFirst]="false"
              [options]="venueOptions"
              (onChange)="onVenueChanged($event)"
              id="venue"
              name="venue"
              [(ngModel)]="appointment.venueId"
            ></p-dropdown>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field p-fluid">
            <label for="rooms">{{ 'editappointments.ROOMS' | translate }}</label>
            <p-autoComplete
              appendTo="body"
              [(ngModel)]="appointment.rooms"
              field="name"
              name="rooms"
              id="rooms"
              [suggestions]="roomOptions"
              (completeMethod)="searchRoom($event)"
              [disabled]="rooms.length === 0"
              [multiple]="true"
              [forceSelection]="true"
              [dropdown]="true"
              (onSelect)="onRoomAdded($event)"
              (onUnselect)="onRoomRemoved($event)"
            ></p-autoComplete>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field p-fluid">
            <label for="sections">{{ 'editappointments.SECTIONS' | translate }}</label>
            <p-autoComplete
              appendTo="body"
              id="sections"
              field="name"
              [(ngModel)]="appointment.sections"
              name="sections"
              [suggestions]="sectionOptions"
              (completeMethod)="searchSection($event)"
              [multiple]="true"
              [forceSelection]="true"
              [dropdown]="true"
              (onSelect)="onSectionAdded($event)"
              (onUnselect)="onSectionRemoved($event)"
            ></p-autoComplete>
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field p-fluid">
            <label for="projects">{{ 'editappointments.PROJECTS' | translate }}</label>
            <p-autoComplete
              appendTo="body"
              [(ngModel)]="appointment.projects"
              name="projects"
              field="title"
              id="projects"
              [suggestions]="projectOptions"
              (completeMethod)="searchProject($event)"
              [multiple]="true"
              [forceSelection]="true"
              [dropdown]="true"
              (onSelect)="onProjectAdded($event)"
              (onUnselect)="onProjectRemoved($event)"
            ></p-autoComplete>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="card card-w-title">
      <p-table
        #participationTable
        [columns]="columns"
        [value]="participationTableItems"
        [paginator]="true"
        [rows]="5"
        [responsive]="true"
        (onFilter)="onTableFiltered($event)"
      >
        <ng-template pTemplate="caption">{{ 'editappointments.PARTICIPATIONS' | translate }}</ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input
                *ngSwitchCase="'surname'"
                pInputText
                type="text"
                (input)="participationTable.filter($event.target.value, col.field, 'contains')"
              />
              <input
                *ngSwitchCase="'givenName'"
                pInputText
                type="text"
                (input)="participationTable.filter($event.target.value, col.field, 'contains')"
              />
              <p-dropdown
                appendTo="body"
                *ngSwitchCase="'predictionId'"
                [showClear]="true"
                [autoDisplayFirst]="false"
                [options]="predictionOptions"
                [style]="{ width: '100%' }"
                (onChange)="participationTable.filter($event.value, col.field, 'equals')"
              ></p-dropdown>
              <p-dropdown
                appendTo="body"
                *ngSwitchCase="'resultId'"
                [showClear]="true"
                [autoDisplayFirst]="false"
                [options]="resultOptions"
                [style]="{ width: '100%' }"
                (onChange)="participationTable.filter($event.value, col.field, 'equals')"
              ></p-dropdown>
              <p-dropdown
                appendTo="body"
                *ngSwitchCase="'isProfessional'"
                [showClear]="true"
                [autoDisplayFirst]="false"
                [options]="isProfessionalOptions"
                [style]="{ width: '100%' }"
                (onChange)="participationTable.filter($event.value, col.field, 'equals')"
              ></p-dropdown>
              <p-dropdown
                appendTo="body"
                *ngSwitchCase="'sections'"
                [showClear]="true"
                [autoDisplayFirst]="false"
                [options]="sectionSelectItems"
                [style]="{ width: '100%' }"
                (onChange)="participationTable.filter($event.value, col.field, 'contains')"
              ></p-dropdown>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <span class="p-column-title">{{ 'SURNAME' | translate }}</span>
              {{ item.surname }}
            </td>
            <td>
              <span class="p-column-title">{{ 'GIVENNAME' | translate }}</span>
              {{ item.givenName }}
            </td>
            <td>
              <span class="p-column-title">{{ 'SECTIONS' | translate }}</span>
              {{ item.sections }}
            </td>
            <td>
              <span class="p-column-title">{{ 'editappointments.LEVEL' | translate }}</span>
              {{ item.isProfessional }}
            </td>
            <td class="p-fluid">
              <span class="p-column-title">{{ 'editappointments.PREDICTION' | translate }}</span>
              <p-dropdown
                appendTo="body"
                *ngIf="item.predictionId"
                placeholer="Select prediction"
                [disabled]="true"
                [autoDisplayFirst]="false"
                [options]="predictionOptions"
                [name]="'prediction-' + item.id"
                [(ngModel)]="item.predictionId"
              ></p-dropdown>
            </td>
            <td class="p-fluid">
              <span class="p-column-title">{{ 'editappointments.RESULT' | translate }}</span>
              <p-dropdown
                appendTo="body"
                placeholer="Select result"
                [autoDisplayFirst]="false"
                [options]="resultOptions"
                [name]="'result-' + item.id"
                (onChange)="onResultChanged(item, $event)"
                [(ngModel)]="item.resultId"
              ></p-dropdown>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">{{ 'editappointments.NORECORDS' | translate }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary"> {{ filteredDataCount }} {{ 'editappointments.PARTICIPATIONS' | translate }} </ng-template>
      </p-table>
    </div>
  </ng-container>
</div>
<p-confirmPopup></p-confirmPopup>
