<form [formGroup]='forgotPasswordFormGroup' (ngSubmit)='submit()'>

  <div class='p-field'>
    <arpa-lang-switch></arpa-lang-switch>
  </div>

  <div class='p-field p-float-label'>
    <input id='password' type='text' pInputText formControlName='password' pPassword [feedback]=false
           [type]="hide ? 'password' : 'text'" autocomplete="new-password">
    <label for='float-input'>{{ 'forgotpassword.PASSWORD' | translate }}</label>
    <i id='eyeButton' class="p-ml-2 pi {{hide ? 'pi-eye-slash' : 'pi-eye'}}" (click)='hide = !hide'></i>
  </div>

  <div class='p-formgroup-inline'>
    <div class='p-field'>
      <button
        pButton
        label="{{ 'forgotpassword.CONFIRM' | translate }}"
        [disabled]='forgotPasswordFormGroup.invalid || forgotPasswordFormGroup.pristine || forgotPasswordRequest'>
      </button>
    </div>
    <div class='p-field'>
      <button *ngIf='!forgotPasswordRequest'
              pButton
              label="{{ 'CANCEL' | translate }}"
              (click)='goToLogin()'>
      </button>
    </div>
  </div>
</form>
