:host ::ng-deep {

  .content {
    display: flex;
    justify-content: center;
    padding: 2em;
    flex-flow: column;

    form {
      width: 25rem;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
