:host {
  .p-grid {
    height: 100%;
    align-items: stretch;
  }

  .content {
    padding: 2em;
  }

  .bg {
    @media (min-width: 768px) {
      background: url("../../../../assets/organization/images/bg-login.jpg") no-repeat left top fixed;
      background-size: cover;
      align-items: stretch;
    }
  }
}
