<h1>{{projecttitle$}}</h1>
<form [formGroup]="form" class="p-mt-5">
  <div>
    <h3>{{ 'mupro.STATUS_STAFF' | translate }}</h3>
  </div>
  <div class="p-grid p-formgrid p-fluid">
    <div class="p-col">
      <arpa-form-field label="{{ 'mupro.PARTICIPATION_STATUS_INTERNAL' | translate }}" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="(statusOptionsStaff$ | async)!"
          [showClear]="true"
          appendTo="body"
          formControlName="participationStatusInternal"
          id="participationStatusInternalId"
          [placeholder]="'NOTHING_SELECTED' | translate"
        ></p-dropdown>
      </arpa-form-field>
    </div>
  </div>
  <div class="p-field p-col12">
    <arpa-form-field label="{{ 'mupro.PARTICIPATION_COMMENT_STAFF' | translate }}">
      <textarea formControlName="commentByStaff" id="commentByStaffId" pInputText rows="5"></textarea>
    </arpa-form-field>
  </div>
  <div>
    <h3>{{ 'mupro.STATUS_PERFORMER' | translate }}</h3>
  </div>
  <div class="p-grid p-formgrid p-fluid">
    <div class="p-col">
      <arpa-form-field label="{{ 'mupro.PARTICIPATION_STATUS_INNER' | translate }}" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="(statusOptionsPerformer$ | async)!"
          [showClear]="true"
          appendTo="body"
          formControlName="participationStatusInternal"
          id="participationStatusInternalId"
          [placeholder]="'NOTHING_SELECTED' | translate"
        ></p-dropdown>
      </arpa-form-field>
    </div>
  </div>
  <div class="p-field p-col12">
    <arpa-form-field label="{{ 'mupro.PARTICIPATION_COMMENT_PERFORMER' | translate }}">
      <textarea formControlName="commentByPerformer" id="commentByPerformerId" pInputText rows="5"></textarea>
    </arpa-form-field>
  </div>

  <div class="p-formgroup-inline p-jc-between">
    <div class="p-text-left">
      <p-button
        (click)="onSubmit()"
        [disabled]="form.pristine || form.invalid"
        [label]="'SAVE' | translate"
        icon="pi pi-check"
        iconPos="left"
      ></p-button>
    </div>
    <div class="p-text-right">
      <button
        (click)="cancel()"
        [label]="'CANCEL' | translate"
        class="p-ml-3 p-button-outlined"
        icon="pi pi-times"
        iconPos="left"
        pButton
      ></button>
    </div>
  </div>
</form>
