<form [formGroup]="form" class="p-mt-5">
  <div>
    <h3>{{ 'mupro.STATUS_STAFF' | translate }}</h3>
  </div>
  <div class="p-grid p-formgrid p-fluid">
    <div class="p-col">
      <arpa-form-field label="{{ 'mupro.PARTICIPATION_STATUS_INTERNAL' | translate }}" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="(statusOptions$ | async)!"
          [showClear]="true"
          appendTo="body"
          formControlName="participationStaff"
          id="participationStatusIdStaff"
          [placeholder]="'NOTHING_SELECTED' | translate"

        ></p-dropdown>
          <ng-template let-participation pTemplate="item">
            <span>{{ participation.participationStatusInternal }}</span>
          </ng-template>
      </arpa-form-field>
    </div>
  </div>

  <div>
    <h3>{{ 'mupro.STATUS_PERFORMER' | translate }}</h3>
  </div>
  <div class="p-grid p-formgrid p-fluid">
    <div class="p-col">
      <arpa-form-field label="{{ 'mupro.PARTICIPATION_STATUS_INNER' | translate }}" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="(statusOptions$ | async)!"
          [showClear]="true"
          appendTo="body"
          formControlName="participationPerformer"
          id="participationStatusIdPerformer"
          [placeholder]="'NOTHING_SELECTED' | translate"

        ></p-dropdown>
      </arpa-form-field>
    </div>
  </div>

  <div class="p-formgroup-inline p-jc-between">
    <div class="p-text-left">
      <p-button
        [disabled]="form.pristine || form.invalid"
        [label]="'SAVE' | translate"
        icon="pi pi-check"
        iconPos="left"
        type="submit"
      ></p-button>
    </div>
    <div class="p-text-right">
      <button
        (click)="cancel()"
        [label]="'CANCEL' | translate"
        class="p-ml-3 p-button-outlined"
        icon="pi pi-times"
        iconPos="left"
        pButton
      ></button>
    </div>
  </div>
</form>
