body, html {
  color: var(--text-color);
}

button {
  margin-top: .25rem !important;
}

mat-toolbar {

  button {
    margin-top: 0 !important;
  }

}

.p-dialog-mask {
  align-items: flex-start!important;
}

.form-modal {
  .p-dialog-content {
    padding-top: 1em;
    min-height: 6em;
  }
  &.p-dialog {
    margin-top: 4em;
  }
  width: 100%;
  @media (max-width: 480px) {
    &.p-dialog {
      margin-top: 0;
    }
  }
  @media (min-width: 960px) {
    width: 80%;
    max-width: 1200px;
  }
}
