<div align='right'>
  <p-button onclick='window.close()'>{{ 'CLOSE' | translate }}</p-button>
</div>

<div>
  <h2>Datenschutzerklärung (Ich bin ein Test-Dummy!<br>
  </h2>
  <h4 style='font-style: italic;'>(english version below)</h4>
</div>
<p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe
  personenbezogener Daten möglich. Soweit auf unseren Seiten
  personenbezogene Daten (beispielsweise Name, Anschrift oder
  eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
  freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
  Zustimmung nicht an Dritte weitergegeben.</p>
<p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B.
  bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
  lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
  möglich.</p>
<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
  Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
  angeforderter Werbung und Informationsmaterialien wird hiermit
  ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich
  ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
  von Werbeinformationen, etwa durch Spam-Mails, vor.</p>

<hr style='width: 100%;'>
<h2>Privacy Policy (This is a dummy test document!)<br>
</h2>
<p>The use of our website is generally possible without providing
  personal data. Insofar as personal data (e.g. name, address or e-mail
  addresses) is collected on our pages, this is always done on a
  voluntary basis as far as possible. This data will not be passed on to
  third parties without your express consent.<br>
  <br>
  We would like to point out that data transmission on the Internet (e.g.
  communication by e-mail) can have security gaps. Complete protection of
  data against access by third parties is not possible.<br>
  <br>
  The use of contact data published within the framework of the imprint
  obligation by third parties for the purpose of sending advertising and
  information material not expressly requested is hereby expressly
  prohibited. The operators of the pages expressly reserve the right to
  take legal action in the event of the unsolicited sending of
  advertising information, for example by spam mails.<br>
  <br>
</p>
