:host ::ng-deep {
  [size="xxlarge"] {
    .p-avatar.p-avatar-image {
      width: 8rem;
      height: 8rem;
      font-size: 6rem;
    }
  }

  [size="large"] {
    .p-avatar.p-avatar-image {
      width: 3rem;
      height: 3rem;
    }
  }

  .p-avatar.p-avatar-circle {
    & > span {
      opacity: .65;
    }
  }
}
