.picture {
  &-container {
    width: 300px;
    height: 300px;
  }
}

.file-input {
  display: none;
}

.avatar-wrapper {
  display: block;
  align-items: center;
  align-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.controls {
  padding-top: 1rem;
}
