arpa-dashboard {
  .p-datatable {
    .p-datatable-header {
      background: none;
    }

    .p-datatable-tbody > tr {
      background: var(--surface-100);
    }

    .p-datatable-thead, .p-datatable-thead > tr > th {
      background: var(--surface-100);
    }

    .p-datatable-thead > tr > th {
      border-bottom: 2px solid var(--surface-50);
    }

    .p-paginator {
      background: none;
      border-bottom: 0;
    }
  }
}
