body, html {
  color: var(--text-color);
  background-color: rgb(16, 16, 16);
}

arpa-root {
  section {
    display: block;
    min-height: 100vh;
  }
}

mat-sidenav-container {
  & > mat-sidenav {
    background-color: var(--surface-a);

    .mat-toolbar {
      background-color: var(--gray-800);
    }

    .logo {
      box-shadow: 1px 1px 5px var(--surface-0);
    }
  }

  & > mat-sidenav-content {
    background-color: #303030;

    .main-content {
      color: var(--text-color)
    }
  }

  .mat-drawer-side {
    border-color: transparent;
  }
}

.main-toolbar {
  background-color: var(--surface-d);
  box-shadow: -10px 5px 20px var(--gray-800);
}

.wrapper {
  .content-view {
    background-color: #303030 !important;
  }
}

