:host ::ng-deep {
  #calendar {
    .fc-right,
    .fc-left {
      display: flex;
    }

    .AMBIGUOUS {
      background-color: yellow;
    }
    .CONFIRMED {
      background-color: green;
    }
    .SCHEDULED {
      background-color: orangered;
    }
    .AWAITING_POLL {
      background-color: red;
    }
    .REFUSED {
      background-color: lightgrey;
    }
  }

    @media screen and (max-width: 50em) {
      .fc-toolbar {
        flex-direction: column;
      }
    }
  }



