:host ::ng-deep {
  #calendar {
    .fc-right,
    .fc-left {
      display: flex;
    }

    .ambigious {
      background-color: yellow;
    }
    .confirmed {
      background-color: green;
    }
    .scheduled {
      background-color: orangered;
    }
    .awaiting-poll {
      background-color: red;
    }
    .refused {
      background-color: lightgrey;
    }
  }

    @media screen and (max-width: 50em) {
      .fc-toolbar {
        flex-direction: column;
      }
    }
  }



