:host ::ng-deep {
  #calendar {
    .fc-right,
    .fc-left {
      display: flex;
    }

    .AMBIGUOUS {
      background-color: darkorange;
      color: black;
    }
    .CONFIRMED {
      background-color: lightgreen;
      color: black;
    }
    .SCHEDULED {
      background-color: cornflowerblue;
      color: black;
    }
    .AWAITING_POLL {
      background-color: palevioletred;
      color: black;
    }
    .REFUSED {
      background-color: lightgrey;
      color: black;
    }
  }

  @media screen and (max-width: 50em) {
    .fc-toolbar {
      flex-direction: column;
    }
  }
}
