<p-listbox [options]="usersWithoutRole!" [(ngModel)]="selectedUser" optionLabel="displayName" [filter]="true" (onClick)="onUserSelected()">
  <ng-template pTemplate="header">
    <h3>{{ 'userlist.RECENT_USERACTIVITIES' | translate }}</h3>
</ng-template>
<ng-template let-user pTemplate="item">
    <div class="user-item">
        <p-avatar [label]="getInitials(user)" styleClass="p-mr-3" size="large" shape="circle"></p-avatar>
        <div class="user-info">
          <span class="p-mb-2"><b>{{user.displayName}}</b></span>
          <a [href]="'mailto:' + user.email" target="_blank">{{user.email}}<i *ngIf="user.emailConfirmed" class="pi pi-check-circle p-ml-2" style="color: #C8E6C9"></i></a>
          <span>{{user.createdAt | date:'short' }}</span>
        </div>
    </div>
</ng-template>
</p-listbox>
