<form [formGroup]="form" class="p-mt-5">
  <div class="p-fluid p-grid p-formgrid">
    <div class="p-field p-col-12 p-md-6">
      <arpa-form-field label="projects.TITLE">
        <input formControlName="title" id="title" maxlength="100" pInputText type="text"/>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <arpa-form-field label="projects.START">
        <p-calendar [showWeek]="true" dateFormat="dd MM yy" formControlName="startDate" id="startDate"></p-calendar>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <arpa-form-field label="projects.END">
        <p-calendar [showWeek]="true" dateFormat="dd MM yy" formControlName="endDate" id="endDate"></p-calendar>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <arpa-form-field label="projects.ABBREVIATION">
        <input formControlName="shortTitle" id="shortTitle" maxlength="50" pInputText type="text" />
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <arpa-form-field label="projects.CODE">
        <input formControlName="code" id="code" maxlength="15" pInputText type="text"  />
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <arpa-graph-ql-feed #parentProjects [contentTemplate]="projectParentsFeed" [query]="parentProjectsQuery"></arpa-graph-ql-feed>
      <ng-template #projectParentsFeed let-feed>
        <arpa-form-field label="projects.PARENT" type="select">
          <p-dropdown
            (onFilter)="parentProjects.onFilter($event)"
            [autoDisplayFirst]="false"
            [filter]="true"
            [options]="(transformFeedResult(feed) | async) || []"
            [showClear]="true"
            appendTo="body"
            filterBy="label"
            formControlName="parentId"
            id="parent"
          ></p-dropdown>
        </arpa-form-field>
      </ng-template>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <arpa-form-field label="projects.TYPE" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="type || []"
          [showClear]="true"
          appendTo="body"
          formControlName="typeId"
          id="type"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <arpa-form-field label="projects.GENRE" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="genre || []"
          [showClear]="true"
          appendTo="body"
          formControlName="genreId"
          id="genre"
        ></p-dropdown>
      </arpa-form-field>
    </div>

    <div class="p-field p-col-12">
      <arpa-form-field label="projects.DESCRIPTION">
        <textarea cols="10" formControlName="description" id="description" pInputTextarea rows="6"></textarea>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <arpa-form-field label="projects.STATE" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="(projectStatusOptions$ | async) || []"
          [showClear]="true"
          appendTo="body"
          formControlName="status"
          id="status"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-2" >
      <arpa-form-field label="projects.COMPLETED" type="select">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="completedOptions"
          [required]="true"
          [showClear]="true"
          appendTo="body"
          formControlName="isCompleted"
          id="isCompleted"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <arpa-form-field label="projects.IS_HIDDEN_FOR_PERFORMERS" type="checkbox" style="text-align: right">
        <p-checkbox
          ngDefaultControl
          [binary]="true"
          formControlName="isHiddenForPerformers"
          id="isHiddenForPerformers"
        ></p-checkbox>
      </arpa-form-field>
    </div>
  </div>
  <div class="p-formgroup-inline p-jc-between">
    <div class="p-text-left">
      <p-button
        (click)="onSubmit()"
        [disabled]="form.pristine || form.invalid"
        [label]="'SAVE' | translate"
        icon="pi pi-check"
        iconPos="left"
      ></p-button>
    </div>
    <div class="p-text-right">
      <button
        (click)="cancel()"
        [label]="'CANCEL' | translate"
        class="p-ml-3 p-button-outlined"
        icon="pi pi-times"
        iconPos="left"
        pButton
      ></button>
    </div>
  </div>
</form>
