.user-item {
  display: flex;
  align-items: center;

  .user-info {
    display: flex;
    flex-direction: column;
  }
}

.user-detail-card {
  .header {
    display: flex;
    align-items: center;
  }
  p {
    a {
      color: var(--primary-color);
      display: flex;
      align-items: center;

      &:hover,
      &:active,
      &:focus {
        color: var(--text-color);
      }
    }
  }
}
