<p-steps [(activeIndex)]="activeIndex" [model]="steps" [readonly]="false"></p-steps>
<div [ngSwitch]="activeIndex" style="margin-top: 2rem">
  <ng-container *ngSwitchCase="0">
    <arpa-room-dialog-basic-data
      [room]="room"
      [venueId]="venueId"
      (roomCreatedOrUpdated)="onRoomCreatedOrUpdated($event)"
      (cancel)="cancel()"
    ></arpa-room-dialog-basic-data>
  </ng-container>
  <ng-container *ngSwitchCase="1"></ng-container>
  <ng-container *ngSwitchCase="2"></ng-container>
</div>
