pre {
  white-space: pre-line;
  word-wrap: normal;
  color: blue;
}

.title {
  font-weight: 400;
  color: dimgray;
}

.title, .value {
  line-height: 1.5em;
}

.new{
  color: darkgrey;
  background: black;
}
.old {
  color: black;
  background: darkslategrey;
}

