<ng-container *ngIf='detail'>
  <div class='p-d-flex'>
    <div class='p-mr-4 title'>
      {{ 'TIME' | translate }}<br>
      {{ 'TABLE' | translate }}<br>
      {{ 'TYPE' | translate }}<br>
      {{ 'CHANGED_BY' | translate }}<br>
    </div>
    <div class='p-mr-2 value'>
      {{ detail.createdAt | date: 'short' }}<br>
      {{ detail.tableName }}<br>
      {{ detail.type }}<br>
      {{ detail.createdBy }}<br>
    </div>
  </div>
  <div class='p-grid p-mt-4'>
    <div class='p-col-12 p-md-6 p-pr-2 new'>
      <h3>{{ "NEW_VALUES" | translate }}</h3>
      <pre>{{ detail.newValues | json }}</pre>
    </div>
    <div class='p-col-12 p-md-6 p-pl-2 old'>
      <h3>{{ "OLD_VALUES" | translate }}</h3>
      <pre>{{ detail.oldValues | json }}</pre>
    </div>
  </div>
</ng-container>
<ng-container *ngIf='!detail && entries'>

</ng-container>
