<div class="p-grid">
  <div class="login-layout" class="p-col-11 p-md-4 login-sep1">
      <form [formGroup] = "loginFormGroup" (ngSubmit)="submit()">
          <p>
            <arpa-language-menu (onclick) = "cpt.reset()"></arpa-language-menu>
          </p>
          <p style="height:2px"></p>
          <p class="p-float-label">
            <input id="usernameOrEmail" type="text" pInputText formControlName="usernameOrEmail">
            <label for="float-input">{{ 'USERNAMEOREMAIL' | translate }}</label>
          </p>
          <p style="height:2px"></p>
          <p class="p-float-label">
            <input id="password" type="text" pInputText formControlName="password" pPassword [feedback]=false [type]="hide ? 'password' : 'text'">
            <label for="float-input">{{ 'PASSWORD' | translate }}</label>
            <i id="eyeButton" class="p-ml-2 pi {{hide ? 'pi-eye-slash' : 'pi-eye'}}" (click)="hide = !hide"></i>
          </p>
          <p-captcha #cpt siteKey = "{{captchaKey}}"  theme = 'dark' language="{{this.language}}" (onResponse)="showResponse($event)" initCallback="loadCaptcha"></p-captcha>
          <p style="height:10px"></p>
          <table>
            <tr>
              <td>
                <button
                  pButton
                  label="{{ 'LOGIN' | translate }}"
                  [disabled]="loginFormGroup.invalid || loginFormGroup.pristine || !captchaSuccess">
                </button>
              </td>
              <td width="20px;"></td>
              <td>
                <p-progressSpinner *ngIf="loginRequest"
                  [style]="{width: '50px', height: '50px'}"
                  strokeWidth="8">
                </p-progressSpinner>
              </td>
            </tr>
          </table>


      </form>

      <div class="p-field login-sep2">
          <p-button label="{{ 'REGISTER' | translate }}" styleClass="p-button-text" (click)="goToRegister()"></p-button>
      </div>

      <div>
          <p-button label="{{ 'forgotpassword.BUTTON' | translate }}" styleClass="p-button-text no-margin" (click)="forgotPassword()"></p-button>
      </div>

  </div>

  <div class="p-col-1 p-md-1"></div>

  <div class="p-col-12 p-md-7 image-box">
    <img src="../../../assets/organization/images/bg-login.jpg" alt="bg-login" width=100% >
  </div>

</div>
