img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
}

.image-box {
  padding-top: 0;
}

input {
  width: 220px;
}

@media all and (min-width: 768px) {
    .login-layout {
        padding-top: 50%;
        text-align: right;
      }
    .login-sep1 {
        padding-top: 200px;
        padding-right: 0px;
    }
    .login-sep2 {
      padding-top: 100px;
      padding-right: 0px;
    } 
    img {
      max-height: 100vh;
      min-height: 100vh;
    }
  }

 @media all and (max-width: 768px) {
    .login-layout {
        padding-top: 5%;
        text-align: right;
      }
    .login-sep1, .login-sep2 {
        padding-top: 20px;
        padding-right: 0px;
    }
  }
