:host ::ng-deep {

  router-outlet:not([name]) + * {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

}

.wrapper {

  flex-direction: row !important;
  display: flex !important;
  height: 100%;
  //overflow-x: hidden;

  .side-view {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: stretch;
    flex-flow: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding-bottom: 2rem;
  }

  &.desktop {
    .side-view {
      width: 15rem;
    }

    .content-view {
      position: inherit !important;
      background-color: inherit;
      padding: 1rem 1rem 0 0;
    }
  }

  &.large {
    justify-content: center;

    .side-view {
      margin-left: auto;
      width: 17.5rem;
      justify-content: center;
    }

    .content-view {
      margin-right: auto;
      width: 62.5rem;
      justify-content: left;
      flex-grow: 0;
    }
  }

  .content-view {
    display: flex;
    flex: 1 1 auto;
    background-color: var(--surface-b);
    align-items: stretch;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 2rem;
    max-height: 100%;
    //overflow-y: scroll;
  }

  .back-link {
    z-index: 100;
    position: absolute;
    display: block;
    top: 1rem;
    left: 1rem;
    width: 60px;
    height: 60px;
    text-align: left;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 200;
    font-size: 1.8em;
    padding: 2px;
  }
}
