<ng-template #loading>
  <div class="spinner-container">
    <div class="arpa-spinner">
      <div class="spinner"></div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="ready; else loading">
  <div class="chart-container">
    <div class="chart-subcontainer">
      <h4 style="text-align: center">
        {{ 'projects.TOTAL' | translate }}: {{ filteredDataCount }} ({{ innerStatsValues }})
      </h4>
      <arpa-chart
        [values]="innerStatsValues"
        [labels]="innerStatsKeys"
        type="pie"
        [legend]="true"
      ></arpa-chart>
    </div>

    <div class="chart-subcontainer">
      <h5 style="text-align: center">
        {{ 'projects.CHOIR' | translate }} ({{ innerStatsValues }})
      </h5>
      <arpa-chart
        [values]="innerStatsValues"
        [labels]="innerStatsKeys"
        type="doughnut"
        [legend]="true"
      ></arpa-chart>
    </div>

    <div class="chart-subcontainer">
      <h5 style="text-align: center">
        {{ 'projects.ORCHESTRA' | translate }} ({{ innerStatsValues }})
      </h5>
      <arpa-chart
        [values]="innerStatsValues"
        [labels]="innerStatsKeys"
        type="doughnut"
        [legend]="true"
      ></arpa-chart>
    </div>
  </div>

  <arpa-table *ngIf="ready"
    [columns]="columns"
    [values]="tableData"
    (rowClickEvents)='openParticipationDialog($event)'

  ></arpa-table>
</ng-container>

<!-- Graphql feed controls and holds graphql api results. -->
<arpa-graph-ql-feed #feedSource [query]="query"
[variables]="{ projectId }"
></arpa-graph-ql-feed>
