<p-tabView>
  <p-tabPanel header="{{ 'persons.mupro.MUSICIAN_PROFILE' | translate }}" leftIcon="pi pi-id-card" *ngIf="person?.id">
    <arpa-person-profiles-musicianprofile [person]="person"></arpa-person-profiles-musicianprofile>
  </p-tabPanel>
  <p-tabPanel header="{{ 'persons.member.MEMBER_PROFILE' | translate }}" leftIcon="pi pi-id-card" *ngIf="person?.id">
    <arpa-person-profiles-member [person]="person"></arpa-person-profiles-member>
  </p-tabPanel>
  <p-tabPanel header="{{ 'persons.client.CLIENT_PROFILE' | translate }}" leftIcon="pi pi-id-card" *ngIf="person?.id">
    <arpa-person-profiles-client [person]="person"></arpa-person-profiles-client>
  </p-tabPanel>
</p-tabView>
