<p-tabView [(activeIndex)]="index">
  <p-tabPanel *ngIf="comboInstrumentView" [header]="'musicianprofile-dialog.INSTRUMENTS' | translate" leftIcon="pi pi-th-large">
    <arpa-musicianprofile-instruments></arpa-musicianprofile-instruments>
  </p-tabPanel>
  <p-tabPanel
    *ngIf="!comboInstrumentView"
    [header]="'musicianprofile-dialog.MAIN_INSTRUMENT' | translate"
    leftIcon="pi pi-map-marker"
    [tooltip]="'musicianprofile-dialog.MAIN_INSTRUMENT' | translate"
  >
    <arpa-musicianprofile-main-instrument (viewState)="viewStateEvents($event)"></arpa-musicianprofile-main-instrument>
  </p-tabPanel>
  <p-tabPanel
    *ngIf="((doublingInstruments | async) || []).length > 0 && !comboInstrumentView"
    [header]="'musicianprofile-dialog.DOUBLING_INSTRUMENT' | translate"
    leftIcon="pi pi-th-large"
    [tooltip]="'musicianprofile-dialog.DOUBLING_INSTRUMENT' | translate"
  >
    <arpa-musicianprofile-doubling-instrument></arpa-musicianprofile-doubling-instrument>
  </p-tabPanel>
  <p-tabPanel
    *ngIf="profile | async"
    [header]="'musicianprofile-dialog.EDUCATION' | translate"
    leftIcon="pi pi-id-card"
    [tooltip]="'musicianprofile-dialog.EDUCATION' | translate"
  >
    <arpa-musicianprofile-education></arpa-musicianprofile-education>
  </p-tabPanel>
  <!-- <p-tabPanel
    *ngIf="profile | async"
    [header]="'musicianprofile-dialog.DOCUMENTS' | translate"
    leftIcon="pi pi-copy"
    [tooltip]="'musicianprofile-dialog.DOCUMENTS' | translate"
  >
    <arpa-musicianprofile-documents></arpa-musicianprofile-documents>
  </p-tabPanel> -->
  <p-tabPanel
    *ngIf="profile | async"
    [header]="'musicianprofile-dialog.DEACTIVATION' | translate"
    leftIcon="pi pi-eye-slash"
    [tooltip]="'musicianprofile-dialog.DEACTIVATE' | translate"
  >
    <arpa-musicianprofile-deactivation></arpa-musicianprofile-deactivation>
  </p-tabPanel>
</p-tabView>
