.title {
  color: var(--primary-color);
  font-weight: normal;
  font-size: xx-large;
}

.status {
  color: var(--text-color-primary);
  font-weight: normal;
}

.selectStatus {
  font-weight: bold;
}

.comment {
  font-weight: normal;
  font-size: larger;
  font-style: italic;
  color: var(--primary-color);
}

.hr1 {
  height: 2px;
  color: var(--blue-100);
}
.modified {
  font-size: small;
  font-style: italic;
  color: var(--text-color-secondary);
}
.created {
  font-size: small;
  font-style: italic;
  color: var(--text-color-secondary);
}
