<arpa-split-view>
  <ng-template #sideViewTemplate>
    <div class='p-flex-column'>
      <arpa-avatar [image]='true' [user]='profile | async'></arpa-avatar>
      <arpa-menu name='profile'></arpa-menu>
    </div>
  </ng-template>
</arpa-split-view>


<!-- <arpa-split-view>
  <ng-template #sideViewTemplate>
    <div class='p-flex-column'>
      <arpa-avatar [image]='true' [user]='profile | async'></arpa-avatar>
      <arpa-menu name='profile'></arpa-menu>
    </div>
  </ng-template>
</arpa-split-view> -->
