<div class="p-grid">
  <div class="p-col-3 p-md-2"></div>
  <div class="p-col-9 p-md-10">
    <form [formGroup] = "loginFormGroup" (ngSubmit)="submit()" class="p-jc-center">

      <arpa-lang-switch class="p-mr-12 p-mt-auto"></arpa-lang-switch>

      <div class="p-float-label p-mr-12 p-mt-auto">
        <input id="usernameOrEmail" type="text" pInputText formControlName="usernameOrEmail">
        <label for="float-input">{{ 'USERNAMEOREMAIL' | translate }}</label>
      </div>

      <div class="p-float-label p-mt-auto">
        <input id="password" type="text" pInputText formControlName="password" pPassword [feedback]=false [type]="hide ? 'password' : 'text'">
        <label for="float-input">{{ 'PASSWORD' | translate }}</label>
        <i id="eyeButton" class="p-ml-2 pi {{hide ? 'pi-eye-slash' : 'pi-eye'}}" (click)="hide = !hide"></i>
      </div>

      <div class="p-mr-2 p-mt-auto">
        <button
          pButton
          label="{{ 'LOGIN' | translate }}"
          [disabled]="loginFormGroup.invalid || loginFormGroup.pristine ">
        </button>
      </div>


      <div class="p-field login-sep2 p-mr-2">
        <p-button label="{{ 'REGISTER' | translate }}" styleClass="p-button-text" (click)="goToRegister()"></p-button>
      </div>

      <div class="p-mr-2">
        <p-button label="{{ 'forgotpassword.BUTTON' | translate }}" styleClass="p-button-text no-margin" (click)="forgotPassword()"></p-button>
      </div>

    </form>
  </div>
</div>

