<div class="p-grid register-layout register-sep1">
  <form [formGroup] = "registerFormGroup" (ngSubmit)="submit()">
    
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="givenName" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'GIVENNAME' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="surname" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'SURNAME' | translate }}</label>
    </p>    
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="email" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'EMAILADDRESS' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="userName" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'USERNAME' | translate }}</label>      
    </p>    
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="password" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'PASSWORD' | translate }}</label>      
    </p>
    <p class="p-field-checkbox">
      <p-checkbox id="givenname" formControlName="privacyPolicy" ngDefaultControl></p-checkbox>
      <label>{{ 'PRIVACYPOLICY' | translate }}</label>
    </p>

    <h3>{{ 'DIVISION' | translate }}:</h3>
    <table >
      <tr>
        <td>          
          <p-inputSwitch [(ngModel)] = "divisions['performer']" ngDefaultControl [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        </td>
        <td>
          {{ 'PERFORMER' | translate }}
        </td>
      </tr>
      <tr  *ngIf="divisions['performer']">
        <td>          
        </td>
        <td>
          <p-checkbox value="choir" [(ngModel)]="performerRoles"  formControlName="performerRole" ngDefaultControl></p-checkbox> {{ 'CHOIR' | translate }}
          <p-checkbox value="orchestra" [(ngModel)]="performerRoles" formControlName="performerRole" ngDefaultControl></p-checkbox> {{ 'ORCHESTRA' | translate }}
          <p-checkbox value="soloist" [(ngModel)]="performerRoles" formControlName="performerRole" ngDefaultControl></p-checkbox> {{ 'SOLOIST' | translate }}
          <p-checkbox value="band" [(ngModel)]="performerRoles" formControlName="performerRole" ngDefaultControl></p-checkbox> {{ 'BAND' | translate }}
        </td>
      </tr>      
      <tr>
        <td>          
          <p-inputSwitch [(ngModel)] = "divisions['volunteer']" ngDefaultControl [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        </td>
        <td>
          {{ 'VOLUNTEERS' | translate }}
        </td>
      </tr>      
      <tr>
        <td>          
          <p-inputSwitch [(ngModel)] = "divisions['visitor']" ngDefaultControl [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        </td>
        <td>
          {{ 'CONCERTVISITORS' | translate }}
        </td>
      </tr>         
    </table>   

    <table>
      <tr>
        <td>          
          <button
          pButton
          label="{{ 'REGISTER' | translate }}"
          [disabled]="registerFormGroup.invalid || registerFormGroup.pristine || registerRequest || errorMsg || !(divisions['performer'] || divisions['volunteer'] || divisions['visitor'])">
          </button>
        </td>
        <td width="10px;"></td>
        <td>          
          <p-progressSpinner *ngIf="registerRequest"
            [style]="{width: '50px', height: '50px'}"
            strokeWidth="8">
          </p-progressSpinner>          
          <button *ngIf="!registerRequest"
          pButton
          label="{{ 'CANCEL' | translate }}"
          (click)="goToLogin()">
        </button>
        </td>
      </tr>              
    </table>
    <div *ngIf="errorMsg">{{errorMsg}}</div>

  </form>
</div>