<div class="p-grid register-layout register-sep1">
  <form [formGroup] = "registerFormGroup" (ngSubmit)="submit()">
    
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="givenName" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'GIVENNAME' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="surname" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'SURNAME' | translate }}</label>
    </p>    
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="email" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'EMAILADDRESS' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="userName" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'USERNAME' | translate }}</label>      
    </p>    
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="password" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'PASSWORD' | translate }}</label>      
    </p>

    <h3>{{ 'DIVISION' | translate }}:</h3>
    <table>
      <tr>
        <td>          
          <p-inputSwitch [(ngModel)]="divisionPerformer" formControlName="divisionPerformer"></p-inputSwitch>
        </td>
        <td>
          {{ 'PERFORMER' | translate }}
        </td>
      </tr>
      <tr *ngIf="divisionPerformer">
        <td>                    
        </td>
        <td>
          <table>
            <tr>
              <td><p-checkbox formControlName="performerChoir" value="Chor" [(ngModel)]="selectedPerformer"></p-checkbox>
              <label>{{ 'CHOIR' | translate }}</label></td>
              <td><p-checkbox formControlName="performeOrchester" value="Orchester" [(ngModel)]="selectedPerformer"></p-checkbox>
              <label>{{ 'ORCHESTRA' | translate }}</label></td>
              <td><p-checkbox formControlName="performerSolo" value="Solo" [(ngModel)]="selectedPerformer"></p-checkbox>
              <label>{{ 'SOLOIST' | translate }}</label>  </td>       
              <td><p-checkbox formControlName="performerBand" value="Band" [(ngModel)]="selectedPerformer"></p-checkbox>
              <label>{{ 'BAND' | translate }}</label>   </td>
            </tr>
          </table>           
        </td>
      </tr>      

      <tr>
        <td>          
          <p-inputSwitch [(ngModel)]="divisionVolunteers" formControlName="divisionVolunteers"></p-inputSwitch>
        </td>
        <td>
          {{ 'VOLUNTEERS' | translate }}
        </td>
      </tr>      
      <tr>
        <td>          
          <p-inputSwitch [(ngModel)]="divisionVisitors" formControlName="divisionVisitors"></p-inputSwitch>
        </td>
        <td>
          {{ 'CONCERTVISITORS' | translate }}
        </td>
      </tr>         
    </table>
    <p></p>
    <table>
      <tr>
        <td>          
          <button
          pButton
          label="{{ 'REGISTER' | translate }}"
          [disabled]="registerFormGroup.invalid || registerFormGroup.pristine || registerRequest || errorMsg || !(divisionPerformer || divisionVolunteers || divisionVisitors)">
          </button>
        </td>
        <td width="10px;"></td>
        <td>          
          <p-progressSpinner *ngIf="registerRequest"
            [style]="{width: '50px', height: '50px'}"
            strokeWidth="8">
          </p-progressSpinner>          
          <button *ngIf="!registerRequest"
          pButton
          label="{{ 'CANCEL' | translate }}"
          (click)="goToLogin()">
        </button>
        </td>
      </tr>              
    </table>
    <div *ngIf="errorMsg">{{errorMsg}}</div>


  </form>
</div>
