<div class="p-grid register-layout register-sep1">
  <form [formGroup] = "registerFormGroup" (ngSubmit)="submit()">

    <p class="p-float-label">
      <arpa-language-menu></arpa-language-menu>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="givenName" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'GIVENNAME' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="surname" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'SURNAME' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="email" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'EMAILADDRESS' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="givenname" type="text" pInputText formControlName="userName" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'USERNAME' | translate }}</label>
    </p>
    <p class="p-float-label">
      <input id="password" type="text" pInputText formControlName="password" pPassword [feedback]=false [type]="hide ? 'password' : 'text'" (ngModelChange)="onChange()">
      <label for="float-input">{{ 'PASSWORD' | translate }}</label>
      <i id="eyeButton" class="p-ml-2 pi {{hide ? 'pi-eye-slash' : 'pi-eye'}}" (click)="hide = !hide"></i>
    </p>
    <p class="p-field-checkbox">
      <p-checkbox id="givenname" formControlName="privacyPolicy" ngDefaultControl></p-checkbox>
      <label>{{ 'PRIVACYPOLICY' | translate }}</label>
    </p>

    <table>
      <tr>
        <td>
          <button
          pButton
          label="{{ 'REGISTER' | translate }}"
          [disabled]="registerFormGroup.invalid || registerFormGroup.pristine || registerRequest">
          </button>
        </td>
        <td width="10px;"></td>
        <td>
          <p-progressSpinner *ngIf="registerRequest"
            [style]="{width: '50px', height: '50px'}"
            strokeWidth="8">
          </p-progressSpinner>
          <button *ngIf="!registerRequest"
          pButton
          label="{{ 'CANCEL' | translate }}"
          (click)="goToLogin()">
        </button>
        </td>
      </tr>
    </table>

  </form>
</div>
