<arpa-table *ngIf="person?.musicianProfiles?.length"
  [columns]="columns"
  [data]="tableData"
  [showFilter]="false"
  [columnFilter]="false"
  [showPagination]="false"
  (rowClickEvents)='onRowClick($event)'
></arpa-table>

<h5>{{ 'persons.mupro.CREATE_NEW_MUPRO' | translate }}</h5>

<div class="p-formgroup-inline p-jc-between">
  <div class="p-text-left">
    <button
      [label]="'persons.mupro.CREATE_NEW_MUPRO' | translate"
      icon="pi pi-check"
      iconPos="right"
      [disabled]="!person?.id"
      pButton
      (click)="createNewMuPro()"
    ></button>
  </div>
</div>
