.room-equipment-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  h2 {
    margin: 0;
  }
  button {
    margin-top: 0 !important;
  }
}

.room-equipment-form {
  margin-bottom: 2rem;
}

:host ::ng-deep {
  .room-equipment-name {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .room-equipment-description {
    margin: 0 0 1rem 0;
  }

  .room-equipment-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .room-equipment-list-detail {
      flex: 1 1 0;
    }

    .room-equipment-list-action {
      display: flex;
      flex-direction: column;
    }

    button {
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .room-equipment-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .room-equipment-list-detail {
      text-align: center;
    }

    .room-equipment-list-action {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
