<div class="p-d-flex p-flex-column">
  <span>Du siehst hier Projekttitel + Projektstatus. Bitte nicht verwechseln mit Teilnahmestatus! Deinen Teilnahmestatus änderst du unter "Meine Projekte"</span>
</div>
<p-accordion>
  <p-accordionTab *ngFor="let allProjects of allProjects">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column">
        <div class="p-as-start p-d-flex p-ai-center">
          <span class="project-title">{{ allProjects.title }}</span>
        </div>
      </div>

    <p-tag
    *ngIf="allProjects.status"
    styleClass="p-ml-2"
    severity="info"
    [value]="('projectStatus.' + allProjects.status) | translate"
    [rounded]="false"
  ></p-tag>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-col-12 content-item">
        <div>
          <span *ngIf="allProjects.startDate">{{ allProjects.startDate | date: 'dd.MM.yy':'locale(de)' }}</span>
        <span *ngIf="allProjects.endDate"> - {{ allProjects.endDate | date: 'dd.MM.yy':'locale(de)' }}</span>
          <p-tag
            *ngIf="allProjects.type"
            styleClass="p-ml-2"
            severity="info"
            [value]="allProjects.type.name!"
            [rounded]="false"
          ></p-tag>
          <p-tag
          *ngIf="allProjects.genre"
          styleClass="p-ml-2"
          severity="info"
          [value]="allProjects.genre.name!"
          [rounded]="false"
        ></p-tag>
        </div>
      </div>
     <div class="p-col-12 content-item">
       <span>{{ allProjects.description }}</span>
     </div>
     <div>
      <button
        routerLink="../../profile/my-projects"
        [label]="'PROJECTS'| translate"
        class="p-button-rounded p-button-text"
        icon="pi pi-angle-right"
        pButton
        type="button"
      ></button>
     </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>
