<form [formGroup]='form'>

  <div class='p-fluid p-formgrid p-grid'>
      <div class='p-field p-col-6'>
        <label for='title'>{{ 'projects.TITLE' | translate }} *</label>
        <input formControlName='title' id='title' maxlength='100' pInputText type='text' />
      </div>

      <div class='p-field p-col-3'>
        <label for='startDate'>{{ 'projects.START' | translate }}</label>
        <p-calendar
          [showWeek]='true'
          dateFormat='dd MM yy'
          formControlName='startDate'
          id='startDate'
        ></p-calendar>
      </div>

      <div class='p-field p-col-3'>
        <label for='endDate'>{{ 'projects.END' | translate }}</label>
        <p-calendar
          [showWeek]='true'
          dateFormat='dd MM yy'
          formControlName='endDate'
          id='endDate'
        ></p-calendar>
      </div>

      <div class='p-field p-col-3'>
          <label for='shortTitle'>{{ 'projects.ABBREVIATION' | translate }} *</label>
          <input formControlName='shortTitle' id='shortTitle' maxlength='50' pInputText type='text' />
      </div>

      <div class= 'p-field p-col-3'>
            <label for='code'>{{ 'projects.CODE' | translate }} *</label>
            <input formControlName='code' id='code' maxlength='15' pInputText type='text' />
      </div>
      <div class='p-field p-col-6'>
        <label for='parent'>{{ 'projects.PARENT' | translate }}</label>
          <p-dropdown
            [autoDisplayFirst]='false'
            [options]='(parentProject | async) || []'
            [showClear]='true'
            appendTo='body'
            formControlName='parentId'
            id='parent'
          ></p-dropdown>
      </div>
      <div class='p-field p-col-3'>
        <label for='type'>{{ 'projects.TYPE' | translate }}</label>
        <p-dropdown
          [autoDisplayFirst]='false'
          [options]='(type | async) || []'
          [showClear]='true'
          appendTo='body'
          formControlName='typeId'
          id='type'
        ></p-dropdown>
      </div>
      <div class='p-field p-col-3'>
        <label for='genre'>{{ 'projects.GENRE' | translate }}</label>
        <p-dropdown
          [autoDisplayFirst]='false'
          [options]='(genre | async) || []'
          [showClear]='true'
          appendTo='body'
          formControlName='genreId'
          id='genre'
        ></p-dropdown>
      </div>

      <div class='p-field p-col-3'>
        <label for='stateId'>{{ 'projects.STATE' | translate }}</label>
        <p-dropdown
          [autoDisplayFirst]='false'
          [options]='(state | async) || []'
          [showClear]='true'
          appendTo='body'
          formControlName='stateId'
          id='state'
        ></p-dropdown>
      </div>


      <div class='p-field p-col-3'>
        <label for='isCompleted'>{{ 'projects.COMPLETED' | translate }} *</label>
        <p-dropdown
          [autoDisplayFirst]='false'
          [options]='completedOptions'
          [required]='true'
          [showClear]='true'
          appendTo='body'
          formControlName='isCompleted'
          id='isCompleted'
        ></p-dropdown>
      </div>


      <div class='p-field p-col-6'>
          <label for='description'>{{ 'projects.DESCRIPTION' | translate }}</label>
          <textarea formControlName='description' id='description' rows="10" cols="10" pInputTextarea></textarea>
      </div>

      <div class='p-field p-col-6'>
          <br>
          <h3 style="text-align:center">(Hier muss noch Projekt-URLs-Liste hin)
            <br>*
            <br>*
            <br>*
            <br>*
          </h3>
      </div>


  </div>
  <div class='p-formgroup-inline p-jc-between'>
    <div class='p-field p-col p-text-left'>
      <button
        (click)='onSubmit()'
        [disabled]='form.pristine || form.invalid'
        [label]="'projects.SAVECLOSE' | translate"
        icon='pi pi-check'
        iconPos='left'
        pButton
        type='submit'
      ></button>
    </div>
    <div class='p-field p-col p-text-right'>
      <button
        (click)='cancel()'
        [label]="'CANCEL' | translate"
        class='p-ml-3 p-button-danger'
        icon='pi pi-times'
        iconPos='left'
        pButton
        type='button'
      ></button>
    </div>
  </div>
</form>
