<form (submit)="onSubmit()" [formGroup]="formGroup">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-row">
      <div class="p-field p-col-12 p-md-col-3">
        <label for="title">{{ 'projects.NAME' | translate }} *</label>
        <input required type="text" pInputText formControlName="title" maxlength="50" id="title" />
      </div>
      <div class="p-field p-col-12 p-md-col-3">
        <label for="shortTitle">{{ 'projects.ABBREVIATION' | translate }} *</label>
        <input required type="text" pInputText formControlName="shortTitle" maxlength="50" id="shortTitle" />
      </div>
      <div class="p-field p-col-12 p-md-col-3">
        <label for="startDate">{{ 'projects.START' | translate }} *</label>
        <p-calendar
          [required]="true"
          formControlName="startDate"
          id="startDate"
          dateFormat="dd MM yy"
          [showWeek]="true"
        ></p-calendar>
      </div>
      <div class="p-field p-col-12 p-md-col-3">
        <label for="endDate">{{ 'projects.END' | translate }} *</label>
        <p-calendar
          [required]="true"
          formControlName="endDate"
          id="endDate"
          dateFormat="dd MM yy"
          [showWeek]="true"
        ></p-calendar>
      </div>
    </div>

    <div class="p-row">
      <div class="p-field p-col-12 p-md-col-3">
        <label for="genre">{{ 'projects.GENRE' | translate }} *</label>
        <p-dropdown
        appendTo="body"
        [showClear]="true"
        [required]="true"
        formControlName="genreId"
        [autoDisplayFirst]="false"
        [options]="genreOptions"
        id="genre"
      ></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-col-3">
        <label for="type">{{ 'projects.TYPE' | translate }} *</label>
        <p-dropdown
          appendTo="body"
          [showClear]="true"
          [required]="true"
          formControlName="typeId"
          [autoDisplayFirst]="false"
          [options]="typeOptions"
          id="type"
        ></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-col-3">
        <label for="parent">{{ 'projects.PARENT' | translate }}</label>
        <p-dropdown
          appendTo="body"
          [showClear]="true"
          [required]="true"
          formControlName="parentProjectId"
          [autoDisplayFirst]="false"
          [options]="parentProjectOptions"
          id="parent"
        ></p-dropdown>
      </div>
    </div>

    <div class="p-field p-col-12">
      <label for="description">{{ 'projects.DESCRIPTION' | translate }}</label>
      <input required type="text" pInputText formControlName="description" maxlength="50" id="description" />
    </div>
  </div>
</form>
<button
  pButton
  type="submit"
  [label]="'editappointments.SAVECLOSE' | translate"
  icon="pi pi-check"
  iconPos="left"
  [disabled]="formGroup.pristine || formGroup.invalid"
></button>
<button
  pButton
  class="p-ml-3 p-button-danger"
  type="button"
  [label]="'CANCEL' | translate"
  icon="pi pi-times"
  iconPos="left"
  (click)="cancel()"
></button>

