<form (submit)='$event.preventDefault()' [formGroup]='form'>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-field p-col'>
      <label for='musicianId'>{{ 'projects.PARTICIPATION_MUPRO' | translate}}</label>
      <p-dropdown
        [options]='(musicianProfiles | async) || []'
        [placeholder]='"NOTHING_SELECTED" | translate'
        formControlName='musicianId'
        optionLabel='label'
        optionValue='value'
      ></p-dropdown>
    </div>
  </div>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-field p-col'>
      <label for='statusId'>{{ 'projects.PARTICIPATION_STATUS' | translate}}</label>
      <p-dropdown
        [options]='(projectParticipation | async) || []'
        [placeholder]='"NOTHING_SELECTED" | translate'
        formControlName='statusId'
        optionLabel='label'
        optionValue='value'
      ></p-dropdown>
    </div>
  </div>
  <div class='p-fluid p-formgrid p-grid'>
    <div class='p-field p-col'>
      <label for='comment'>{{ 'projects.PARTICIPATION_COMMENT' | translate}}</label>
      <textarea [autoResize]='true' formControlName='comment' pInputTextarea></textarea>
    </div>
  </div>
  <div class='p-formgroup-inline p-jc-between'>
    <div class='p-field p-col'>
      <button
        (click)='cancel()'
        [label]="'CANCEL' | translate"
        class='p-button-danger'
        icon='pi pi-times'
        iconPos='left'
        pButton
        type='button'
      ></button>
    </div>
    <div class='p-field p-col p-text-right' style='margin-right: 0'>
      <button
        (click)='onSubmit()'
        [disabled]='form.pristine || form.invalid'
        [label]="'SAVE' | translate"
        icon='pi pi-check'
        iconPos='left'
        pButton
        type='button'
      ></button>
    </div>
  </div>
</form>
