<form (ngSubmit)='submit()' [formGroup]='forgotPasswordFormGroup'>

  <div class='p-field'>
    <arpa-lang-switch></arpa-lang-switch>
  </div>

  <div class='p-field p-float-label'>
    <input [feedback]=false [type]="hide ? 'password' : 'text'" autocomplete='new-password' formControlName='password'
           id='password' pInputText
           pPassword type='text'>
    <label for='float-input'>{{ 'NEW_PASSWORD' | translate }}</label>
    <i (click)='hide = !hide' class="p-ml-2 pi {{hide ? 'pi-eye-slash' : 'pi-eye'}}" id='eyeButton'></i>
  </div>

  <div class='p-formgroup-inline'>
    <div class='p-field'>
      <p-button
        [disabled]='forgotPasswordFormGroup.invalid || forgotPasswordFormGroup.pristine || forgotPasswordRequest'
        label="{{ 'CHANGE_PASSWORD' | translate }}">
      </p-button>
    </div>
    <div class='p-field'>
      <p-button (click)='goToLogin()'
                *ngIf='!forgotPasswordRequest'
                label="{{ 'CANCEL' | translate }}">
      </p-button>
    </div>
  </div>
</form>
