<form [formGroup]='registerFormGroup' (ngSubmit)='onSubmit()'>

  <div class='p-field'>
    <arpa-lang-switch></arpa-lang-switch>
  </div>

  <div class='p-field p-float-label'>
    <input type='text' pInputText formControlName='givenName' (ngModelChange)='onChange()'>
    <label for='float-input'>{{ 'GIVENNAME' | translate }}</label>
  </div>


  <div class='p-field p-float-label'>
    <input type='text' pInputText formControlName='surname' (ngModelChange)='onChange()'>
    <label for='float-input'>{{ 'SURNAME' | translate }}</label>
  </div>


  <div class='p-field p-float-label'>
    <input type='text' pInputText formControlName='email' (ngModelChange)='onChange()'>
    <label for='float-input'>{{ 'EMAILADDRESS' | translate }}</label>
  </div>

  <div class='p-field p-float-label'>
    <input type='text' pInputText formControlName='userName' (ngModelChange)='onChange()'>
    <label for='float-input'>{{ 'USERNAME' | translate }}</label>
  </div>

  <div class='p-field p-float-label'>
    <input id='password' type='text' pInputText formControlName='password' pPassword [feedback]=false
           [type]="hide ? 'password' : 'text'" (ngModelChange)='onChange()'>
    <label for='float-input'>{{ 'PASSWORD' | translate }}</label>
    <i id='eyeButton' class="p-ml-2 pi {{hide ? 'pi-eye-slash' : 'pi-eye'}}" (click)='hide = !hide'></i>
  </div>

  <div class='p-field-checkbox'>
    <p-checkbox formControlName='privacyPolicy' ngDefaultControl></p-checkbox>
    <label>
      <a [routerLink]="['/privacy']" style='color:currentColor;' title="{{ 'register.SHOWPRIVACY' | translate }}">
        {{ 'PRIVACYPOLICY' | translate }}
      </a>
    </label>
  </div>

  <div class='p-formgroup-inline'>
    <div class='p-field'>
      <button
        pButton
        label="{{ 'REGISTER' | translate }}"
        [disabled]='registerFormGroup.invalid || registerFormGroup.pristine || registerRequest'>
      </button>
    </div>
    <div class='p-field'>
      <button *ngIf='!registerRequest'
              pButton
              label="{{ 'CANCEL' | translate }}"
              (click)='goToLogin()'>
      </button>
    </div>
  </div>

  <re-captcha
    #captchaRef='reCaptcha'
    errorMode='handled'
    size='invisible'
    siteKey='{{ siteKey }}'
    (resolved)="submit()"
    (error)="onError()"
  ></re-captcha>
</form>

