<form autocomplete='off' [formGroup]='registerFormGroup' (ngSubmit)='onSubmit()'>

  <div class='p-field'>
    <arpa-lang-switch></arpa-lang-switch>
  </div>
  <div class='p-fluid'>
    <arpa-form-field label='GIVENNAME'>
      <input type='text' pInputText formControlName='givenName' (ngModelChange)='onChange()' autocomplete='given-name'>
    </arpa-form-field>

    <arpa-form-field label='SURNAME'>
      <input type='text' pInputText formControlName='surname' (ngModelChange)='onChange()' autocomplete='family-name'>
    </arpa-form-field>

    <arpa-form-field label='EMAILADDRESS' [customError]='"form.INVALID_EMAIL"'>
      <input type='text' pInputText formControlName='email' (ngModelChange)='onChange()' autocomplete='email'>
    </arpa-form-field>

    <arpa-form-field label='USERNAME'>
      <input type='text' pInputText formControlName='userName' (ngModelChange)='onChange()' autocomplete='off'>
    </arpa-form-field>

    <arpa-form-field label='PASSWORD' [showErrors]='false'>
      <p-password formControlName='password' [toggleMask]='true' [feedback]='false' autocomplete='off'></p-password>
      <ng-template #footerTemplate>
        <arpa-password-strength  [control]="registerFormGroup.controls['password']"></arpa-password-strength>
        <p class='passwordInfo'>
          <i class='pi pi-info-circle'></i>{{ 'register.PASSWORD_INFO' | translate }}
        </p>
      </ng-template>
    </arpa-form-field>

    <arpa-form-field  *ngIf='registerFormGroup.get("password")?.valid' label='register.PASSWORD_CONFIRM'
                      [customError]='"register.PASSWORD_ERROR_CONFIRM"'>
      <p-password formControlName='confirmPassword' [toggleMask]='false' [feedback]='false'
                  autocomplete='off'></p-password>
    </arpa-form-field>

    <arpa-form-field type='checkbox'>
      <p-checkbox formControlName='privacyPolicy' ngDefaultControl></p-checkbox>
      <label for='privacyPolicy'>
        <a [routerLink]="['/privacy']" style='color:currentColor;' title="{{ 'register.SHOWPRIVACY' | translate }}" target="new window">
          {{ 'PRIVACYPOLICY' | translate }}
        </a>
      </label>
    </arpa-form-field>
  </div>

  <div class='p-formgroup-inline'>
    <div class='p-field'>
      <button *ngIf='!registerRequest'
              pButton
              label="{{ 'CANCEL' | translate }}"
              (click)='goToLogin()'>
      </button>
    </div>
    <div class='p-field'>
      <button
        pButton
        label="{{ 'REGISTER' | translate }}"
        [disabled]='registerFormGroup.invalid || registerFormGroup.pristine || registerRequest'>
      </button>
    </div>
  </div>

  <re-captcha
    #captchaRef='reCaptcha'
    errorMode='handled'
    size='invisible'
    siteKey='{{ siteKey }}'
    (resolved)="submit()"
    (error)="onError()"
  ></re-captcha>
</form>

