<ng-container *ngIf="state === 'createOrUpdate'">
  <form (submit)="$event.preventDefault()" [formGroup]="form">
    <div class="p-grid p-formgrid">
      <div class="p-fluid p-col-12">
        <arpa-form-field label="musician-profile-dialog.INSTRUMENT" type="select">
          <p-dropdown
            [filter]="true"
            [options]="(sections | async) || []"
            [placeholder]="'NOTHING_SELECTED' | translate"
            formControlName="instrumentId"
            optionLabel="name"
            optionValue="id"
          ></p-dropdown>
        </arpa-form-field>
      </div>
      <div class="p-fluid p-col-12">
        <arpa-form-field label="musician-profile-dialog.LEVEL_ASSESSMENT" type="rating">
          <p-rating [cancel]="false" [stars]="5" formControlName="levelAssessmentInner"></p-rating>
        </arpa-form-field>
      </div>
      <div *ngIf="preferredParts | async" class="p-fluid p-col-12">
        <arpa-form-field label="musician-profile-dialog.PREFERRED_PARTS" type="select">
          <p-multiSelect
            [options]="(preferredParts | async) || []"
            [placeholder]="'NOTHING_SELECTED' | translate"
            display="chip"
            formControlName="preferredPartsInner"
            optionLabel="label"
            optionValue="value"
          ></p-multiSelect>
        </arpa-form-field>
      </div>
      <div class="p-fluid p-col-12">
        <arpa-form-field label="musician-profile-dialog.INQUIRY_STATUS" type="select">
          <p-dropdown
            [options]="(inquiryStatusOptions$ | async) || []"
            [placeholder]="'NOTHING_SELECTED' | translate"
            formControlName="inquiryStatusInner"
            optionLabel="label"
            optionValue="value"
          ></p-dropdown>
        </arpa-form-field>
      </div>
      <div class="p-fluid p-col-12" *ngIf="preferredPositions | async">
        <arpa-form-field label="musician-profile-dialog.PREFERRED_POSITIONS" type="select">
          <p-multiSelect
            [options]="(preferredPositions | async) || []"
            [placeholder]="'NOTHING_SELECTED' | translate"
            display="chip"
            formControlName="preferredPositionsInnerIds"
            optionLabel="label"
            optionValue="value"
          ></p-multiSelect>
        </arpa-form-field>
      </div>
      <div class="p-fluid p-col-12">
        <arpa-form-field label="musician-profile-dialog.MAIN_PROFILE" type="checkbox">
          <p-checkbox [binary]="true" formControlName="isMainProfile" name="isMainProfile"></p-checkbox>
        </arpa-form-field>
      </div>
      <div class="p-fluid p-col-12 p-lg-6">
        <button
          (click)="cancel()"
          [label]="'CANCEL' | translate"
          class="p-button-danger"
          icon="pi pi-times"
          iconPos="left"
          pButton
          type="button"
        ></button>
      </div>
      <div class="p-fluid p-col-12 p-lg-6 p-text-right" style="margin-right: 0">
        <button
          (click)="onSubmit()"
          [disabled]="form.pristine || form.invalid"
          [label]="(isNew ? 'musician-profile-dialog.CREATE' : 'SAVE') | translate"
          icon="pi pi-check"
          iconPos="left"
          pButton
          type="button"
        ></button>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="state === 'created'">
  <div class="p-field p-col p-text-center">
    <h1>{{ 'musician-profile-dialog.SUCCESSFUL_CREATED' | translate }}</h1>
  </div>
  <div class="p-field p-col p-text-center">
    <button (click)="close()" [label]="'CLOSE' | translate" icon="pi pi-check" iconPos="left" pButton type="button"></button>
  </div>
</ng-container>
