<p>3. Juni 2021 20-22 Uhr - RoSy-Chorprobe</p>
<p>22. Juni 2021 Anmeldeschluss "Festival em Trancoso" (Brasilien-Tour)</p>
<p>22. Dezember 2021 - Konzerttag @Bphil | Die Schneekönigin</p>
<p-skeleton height='1rem' styleClass='rectangle' width='50%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='80%'></p-skeleton>
<br>
<p-skeleton height='1rem' styleClass='rectangle' width='20%'></p-skeleton>
<br>
<p-skeleton height='6rem' styleClass='square' width='33%'>Termin</p-skeleton>
