:host ::ng-deep {
  .appointment-widget-line {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .appointment-widget-line-detail {
      flex: 1 1 0;
      display: flex;

      .appointment-widget-line-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;

        .appointment-widget-label {
          font-size: 1.3rem;
          font-weight: 700;
          display: flex;
          align-items: baseline;

          .appointment-widget-category {
            font-size: 1rem;
            opacity: 0.7;
            line-height: inherit;
          }
        }

        .appointment-widget-city {
          margin-top: 0.4rem;
        }
      }
    }

    .appointment-widget-status {
      align-self: flex-start;
    }
  }

  @media screen and (max-width: 768px) {
    .appointment-widget-line {
      flex-direction: column;
      align-items: flex-start;

      .appointment-widget-status {
        align-self: flex-end;
      }
    }
  }
}
