<div class='p-grid p-jc-center p-mt-4'>
  <div class='p-col-12 p-md-10 p-lg-12'>
    <p-table
      (onLazyLoad)='loadData($event.rows, $event.first)'
      routerLink="../../profile/appointments"
      [lazy]='true'
      [rows]='8'
      [totalRecords]='(totalRecordsCount$ | async) || 0'
      [value]='(userAppointments$ | async) || []'
      tableStyleClass='arpa-table-list'
    >
      <ng-template let-appointment pTemplate='body'>
        <ng-container *ngTemplateOutlet='listElement; context: {$implicit: appointment}'></ng-container>
      </ng-template>
    </p-table>
  </div>
</div>
<ng-template #listElement let-appointment>
    <div class='p-d-flex p-jc-between'>

    </div>
    <div>
      <div class='p-flex-column p-mr-4 date'>
        <span>{{ appointment.startTime | date: 'dd.MM.yy':'locale(de)' }} ({{appointment.startTime | date: 'EE'}}), {{ appointment.startTime | date: 'H:mm':'locale(de)' }}-{{ appointment.endTime | date: 'H:mm':'locale(de)' }} {{ appointment.category?.name }} - {{ appointment.venue?.name }} {{ appointment.name }}
          <p-tag *ngIf='appointment.predictionId'
        styleClass="p-ml-2"
        severity="warning"
        [rounded]="true"
        [value]=' appointment.predictionId | selectValue: predictions '></p-tag></span>
          <p> 
          </p>

        </div>
        </div>
</ng-template>
