.date-container {
  @media (min-width: 768px) {
    border-right: 1px solid rgba(#fff, 0.25);
  }

  .status-badge {
    @media (min-width: 768px) {
      padding: 0.5rem 1rem 0 0;
      width: 7rem;
    }
  }

  .date {
    align-self: normal;
    border-bottom: 1px solid rgba(#fff, 0.25);
    padding: 0 0 1rem 0;
    width: inherit;
    flex-direction: row;
    display: flex;

    .city {
      font-weight: bold;
      opacity: 0.7;
    }

    @media (max-width: 767px) {
      .day,
      .day-name,
      .month-name,
      .year,
      .time,
      .city {
        margin-right: 0.3rem;
        color: var(--primary-color);
        font-weight: 600;
      }

      .day:after {
        content: '.';
      }

      .day-name:after {
        content: ',';
      }
    }

    @media (min-width: 768px) {
      text-align: left;
      width: 7rem;
      padding: 0.5rem 1rem 0 0;
      border-bottom: none;
      flex-direction: column;

      .day {
        font-size: 2em;
        font-weight: 600;
      }

      .day-name {
        font-size: 0.7em;
        font-weight: 200;
        padding-bottom: 0.3rem;
      }
      .month-name {
        font-size: 1.2em;
        font-weight: 300;
      }
      .year {
        font-size: 0.7em;
        font-weight: 100;
        line-height: 1;
      }
      .time {
        opacity: 0.85;
        font-size: 0.85em;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.details {
  flex: 1;
  height: 100%;

  .name {
    display: block;
    line-height: 2em;
    font-size: 1.3rem;

    .category {
      opacity: 0.8;
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .p-badge {
      display: inline;
      margin-left: 1rem;
    }

    .p-tag {
      display: inline;
      margin-right: 1rem;
    }
  }

  .label {
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
    opacity: 0.7;
  }
}

.projects {
  display: block;
  opacity: 0.6;
  font-size: 0.8em;
}

.headlineinfo {
  font-size: 1em;
  opacity: 0.5;
}
.venue {
  flex-grow: 1;
  line-height: 1.5em;
  display: block;
  font-size: small;
  font-weight: 300;
}

::ng-deep {
  .tag.p-tag {
    width: 100%;
  }
}

.venue-container {
  background-color: var(--surface-d);
  border-radius: 3px;
}

i.marker-icon {
  line-height: 1.5;
}

tr {
  cursor: pointer;
}

.comment-overlay {
  max-width: 300px;
}

.edit-participation {
  font-weight: bold;
  color: var(--primary-color);
}
