@import "arpa-theme-colors";

/**
 * Data table list elements.
 * Usage: <p-table tableStyleClass="arpa-table-list"></p-table>
 */
.p-datatable .arpa-table-list {
  .p-datatable-thead {
    & > h2 {
      margin-top: 3rem;
      opacity: .75;
    }
  }

  .p-datatable-tbody > tr {
    background-color: transparent;

    & > td {
      border-bottom: none;
      margin-bottom: .5rem;
      border-radius: 3px;
      background-color: lighten(#1e1e1e, 5%);
      font-size: 1rem;
      align-items: center;
    }

    &:first-child {
      border-top: none;
    }
  }
}

hr {
  border-top: 1px solid #fff;
  border-bottom: 0;
  opacity: .25;
}

