/* You can add global styles to this file, and also import other style files */
@import "assets/common/fonts/icomoon/style.css";

html {
  height: 100%;
}

body {
  background-color: var(--surface-b);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  font-size: 14px;

  a {
    text-decoration: none;
  }
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

p-tabmenu > .p-tabmenu.p-component {
  margin-bottom: 0.5rem;
}

fieldset
{
    border: 1px solid #383838;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding: 1rem;

    legend {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
}
