// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Orso-Arpa-Web-primary: mat.define-palette(mat.$indigo-palette);
$Orso-Arpa-Web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Orso-Arpa-Web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Orso-Arpa-Web-theme: mat.define-dark-theme(
  (
    color: (
      primary: $Orso-Arpa-Web-primary,
      accent: $Orso-Arpa-Web-accent,
      warn: $Orso-Arpa-Web-warn,
    ),
  )
);

.arpa-light {
  // Create the theme object. A theme consists of configurations for individual
  // theming systems such as "color" or "typography".
  $Orso-Arpa-Web-theme: mat.define-light-theme(
    (
      color: (
        primary: $Orso-Arpa-Web-primary,
        accent: $Orso-Arpa-Web-accent,
        warn: $Orso-Arpa-Web-warn,
      ),
    )
  );
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.legacy-core-theme($Orso-Arpa-Web-theme);
@include mat.sidenav-theme($Orso-Arpa-Web-theme);
@include mat.toolbar-theme($Orso-Arpa-Web-theme);
@include mat.legacy-card-theme($Orso-Arpa-Web-theme);
@include mat.legacy-button-theme($Orso-Arpa-Web-theme);
@include mat.legacy-menu-theme($Orso-Arpa-Web-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: scroll;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

hr {
  border-top: 1px solid var(--surface-800);
  border-bottom: 0;
  opacity: 0.25;
}

.p-menu .p-submenu-header {
  text-transform: uppercase;
  font-weight: bold !important;
  opacity: 0.8;
  background: initial !important;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--text-color);
  }

  &:visited {
    color: var(--text-color-secondary);
  }
}

pre {
  font-weight: 400;

  .number-line {
    color: #adadaf;
  }
  .string {
    color: #95c602;
  }
  .number {
    color: #f2b619;
  }
  .boolean {
    color: #0097f1;
  }
  .null {
    color: #727990;
  }
  .key {
    color: #fff;
  }
}

.full-width {
  width: 100% !important;
}

.spinner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.h-full {
  height: 100% !important;
}

.w-full {
  width: 100% !important;
}

.text-align-right {
  text-align: right;
}

@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import 'assets/common/fonts/icomoon/style.css';
@import '~primeflex/primeflex.css';
@import '~flag-icons/css/flag-icons.min.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
