@import "assets/common/fonts/icomoon/style.css";

html {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: var(--surface-b);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  font-size: 14px;

  a {
    text-decoration: none;
  }
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

arpa-root {
  & > #message {
    padding: 40% 0;
    text-align: center;
    font-size: 2em;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: inherit;
}

[arpaBAckButton] {
  cursor: pointer;
}

.p-field.p-float-label, .p-field + .p-field {
  margin-top: 3em;
}

.p-formgroup-inline > .p-field + .p-field {
  margin-top: inherit;
}

.p-dialog-content {
  overflow-y: visible !important;
}

.arpa-toast {
  & > .p-toast {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    top: 20px;
    right: unset;
  }
}

.p-dialog-mask {
  overflow-y: auto;
}

@import "~primeng/resources/themes/arya-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.css";

@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.split-view {
  display: flex !important;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;

  &.hasSelection {
    .split-view-content {
      display: flex;
      transform: translateX(-100%);
      width: 100%;
    }
  }

  .split-view-sidebar {
    flex-direction: column;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 6em;
  }

  .split-view-content {
    position: absolute;
    flex-direction: column;
    display:flex;
    min-height: 100%;
    top: 0;
    width: 100%;
    left: 100%;
    transition: transform .4s cubic-bezier(.05, .74, .2, .99);
    z-index: 600;
    background-color: var(--surface-b);
    overflow-x: hidden;
    padding: 0 20px 4em;
  }

  .back-link {
    z-index: 100;
    position: fixed;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    text-align: left;
    left: 0;
    a {
      color: var(--text-color);
      padding: 14px;
      font-weight: 200;
      display: block;
      i {
        font-size: 1.8em;
        padding: 2px;
      }
    }
  }

  @media (min-width: 768px) {
    .back-link {
      display: none;
    }
    .split-view-sidebar {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background-color: var(--surface-a);
      width: 250px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: transform .4s cubic-bezier(.05, .74, .2, .99);
      flex-direction: column;
      z-index: 20;
    }

    .split-view-content {
      left: 0;
      z-index: 10;
      height: 100%;
      padding-top: 6em;
      padding-bottom: 0;
      padding-left: 270px;
      padding-right: 20px;
    }

    .hasSelection {
      .split-view-content {
        display: inherit;
        transform: unset;
      }
    }
  }
}
