<h2>{{ 'PROFILE_TITLE' | translate }}</h2>
<button
pButton label="{{ 'navigation.BACKTODASHBOARD' | translate }}" (click)="goToDashboard()">
</button>
<div class=p-grid>
  <div class="p-col-12 p-md-6 p-lg-4"><h3>{{ 'BASEDATA' | translate }}</h3>
    <div>Nachname, Vorname</div>
    <div>Geschlecht</div>
    <div>Geburtsdatum</div>
    <div>Sterbedatum</div>


  <div><h3>{{ 'CONTACTDATA' | translate }}</h3></div>
  <div>E-Mail</div>
  <div>Telefon</div>
  <div>Links</div>
  <div>Anschrift</div>
  <div><h3>Hier könnte dein Foto hin</h3></div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4"><h3>{{ 'MUSICIANDATA' | translate }}</h3></div>
  <div class="p-col-12 p-md-6 p-lg-4"><h3>{{ 'MEMBERDATA' | translate }}</h3></div>
</div>

