<form (ngSubmit)='submit()' [formGroup]='form' class='p-jc-center'>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6 p-text-center'>
      <h1>{{ 'profile.MY_DATA' | translate}}</h1>
    </div>
  </div>
  <div class='p-grid p-jc-center show-mobile'>
    <div class='p-col-12 p-md-6 p-text-center'>
      <arpa-avatar [image]='true' [user]='{displayName}'></arpa-avatar>
    </div>
  </div>
  <div class='p-grid p-jc-center p-mt-4'>
    <div class='p-col-12 p-md-6'>
      <arpa-form-field label='GENDER' type='select'>
        <p-dropdown
          [options]='(genderSelectValue | async) || []'
          [placeholder]='"NOTHING_SELECTED" | translate'
          formControlName='genderId'
          optionLabel='label'
          optionValue='value'
        ></p-dropdown>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-3'>
      <arpa-form-field label='GIVENNAME'>
        <input autocomplete='givenName' formControlName='givenName' id='givenName' pInputText type='text'>
      </arpa-form-field>
    </div>
    <div class='p-col-12 p-md-3'>
      <arpa-form-field label='SURNAME'>
        <input autocomplete='surname' formControlName='surname' id='surname' pInputText type='text'>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6'>
      <arpa-form-field label='EMAIL'>
        <input autocomplete='email' formControlName='email' id='email' pInputText type='text'>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6'>
      <arpa-form-field label='ABOUT_ME'>
        <textarea autocomplete='aboutMe' formControlName='aboutMe' id='aboutMe' pInputText type='text'></textarea>
      </arpa-form-field>
    </div>
  </div>

  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6 p-text-right'>
      <div class='p-field'>
        <p-button [disabled]='form.invalid || form.pristine ' [type]='"submit"'
                  label="{{ 'SAVE' | translate }}"></p-button>
      </div>
    </div>
  </div>
</form>
