<form [formGroup] = "form" (ngSubmit)="submit()" class="p-jc-center">
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6 p-text-center'>
      <h1>{{ 'USER_PROFILE_DATA' | translate}}</h1>
    </div>
  </div>
  <div class='p-grid p-jc-center show-mobile'>
    <div class='p-col-12 p-md-6 p-text-center'>
      <arpa-avatar [user]='profile' [image]='true'></arpa-avatar>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6'>
      <arpa-form-field label='GENDER' type='field'>
        <p-dropdown
          [options]='(genderSelectValue | async) || []'
          optionLabel='label'
          optionValue='value'
          formControlName='genderId'
          [placeholder]='"SELECT_GENDER" | translate'
        ></p-dropdown>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-3'>
      <arpa-form-field label='GIVENNAME'>
        <input id="givenName" type="text" pInputText formControlName="givenName" autocomplete="givenName">
      </arpa-form-field>
    </div>
    <div class='p-col-12 p-md-3'>
      <arpa-form-field label='SURNAME'>
        <input id="surname" type="text" pInputText formControlName="surname" autocomplete="surname">
      </arpa-form-field>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-3'>
      <arpa-form-field label='EMAIL'>
        <input id="email" type="text" pInputText formControlName="email" autocomplete="email">
      </arpa-form-field>
    </div>
    <div class='p-col-12 p-md-3'>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-3'>
      <arpa-form-field label='PHONENUMBER'>
        <input id="phoneNumber" type="text" pInputText formControlName="phoneNumber" autocomplete="phonenumber">
      </arpa-form-field>
    </div>
    <div class='p-col-12 p-md-3'>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6'>
      <arpa-form-field label='ABOUT_ME'>
        <textarea id="aboutMe" type="text" pInputText formControlName="aboutMe" autocomplete="aboutMe"></textarea>
      </arpa-form-field>
    </div>
  </div>
  <div class='p-grid p-jc-center'>
    <div class='p-col-12 p-md-6 p-text-right'>
      <div class="p-field">
        <button
          pButton
          label="{{ 'SAVE' | translate }}"
          [disabled]="form.invalid || form.pristine ">
        </button>
      </div>
    </div>
  </div>
</form>
