<div class="instrument">
  <header *ngIf="isNew; else editHeader">
    {{ 'musician-profile-dialog.CREATE_NEW_MUPRO' | translate }}
  </header>
</div>
<form [formGroup]="form">
  <arpa-form-field *ngIf="isNew" label="musician-profile-dialog.INSTRUMENT" type="select">
    <p-dropdown
      [filter]="true"
      [options]="(sections$ | async) || []"
      [placeholder]="'NOTHING_SELECTED' | translate"
      formControlName="instrumentId"
      optionLabel="name"
      optionValue="id"
    ></p-dropdown>
  </arpa-form-field>

  <div class="p-fluid p-mt-3 p-formgrid p-grid comparison-container">
    <div class="p-col-6">
      <h3>{{ 'musician-profile-dialog.STAFF_ASSESSMENT' | translate }}</h3>
    </div>
    <div class="p-col-6 inner">
      <h3>{{ 'musician-profile-dialog.SELF_ASSESSMENT' | translate }}</h3>
    </div>
    <!-- Level Assessment -->
    <div class="p-col-6">
      <arpa-form-field label="musician-profile-dialog.LEVEL_ASSESSMENT" type="rating">
        <p-rating [cancel]="false" [stars]="5" formControlName="levelAssessmentTeam"></p-rating>
      </arpa-form-field>
    </div>
    <div class="p-col-6 inner">
      <arpa-form-field label="musician-profile-dialog.LEVEL_ASSESSMENT" type="rating">
        <p-rating [cancel]="false" [stars]="5" formControlName="levelAssessmentInner"></p-rating>
      </arpa-form-field>
    </div>

    <!-- Inquiry Status -->
    <div class="p-col-6">
      <arpa-form-field label="musician-profile-dialog.INQUIRY_STATUS_TEAM" type="select">
        <p-dropdown
          [options]="(inquiryStatusOptions$ | async) || []"
          [placeholder]="'NOTHING_SELECTED' | translate"
          formControlName="inquiryStatusTeam"
          optionLabel="label"
          optionValue="value"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class="p-col-6 inner">
      <arpa-form-field label="musician-profile-dialog.INQUIRY_STATUS_INNER" type="select">
        <p-dropdown
          [options]="(inquiryStatusOptions$ | async) || []"
          [placeholder]="'NOTHING_SELECTED' | translate"
          formControlName="inquiryStatusInner"
          optionLabel="label"
          optionValue="value"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <!-- Preferred Parts -->
    <ng-container *ngIf="preferredParts | async as partOptions">
      <div class="p-col-6">
        <arpa-form-field label="musician-profile-dialog.PREFERRED_PARTS_TEAM" type="select">
          <p-multiSelect
            [options]="partOptions"
            [placeholder]="'NOTHING_SELECTED' | translate"
            display="chip"
            formControlName="preferredPartsTeam"
            optionLabel="label"
            optionValue="value"
          ></p-multiSelect>
        </arpa-form-field>
      </div>
      <div class="p-col-6 inner">
        <arpa-form-field label="musician-profile-dialog.PREFERRED_PARTS_INNER" type="select">
          <p-multiSelect
            [options]="partOptions"
            [placeholder]="'NOTHING_SELECTED' | translate"
            display="chip"
            formControlName="preferredPartsInner"
            optionLabel="label"
            optionValue="value"
          ></p-multiSelect>
        </arpa-form-field></div
    ></ng-container>
    <!-- Preferred Positions -->
    <ng-container *ngIf="preferredPositionOptions$ | async as positionOptions">
      <div class="p-col-6">
        <arpa-form-field label="musician-profile-dialog.PREFERRED_POSITIONS_TEAM" type="select">
          <p-multiSelect
            [options]="positionOptions"
            [placeholder]="'NOTHING_SELECTED' | translate"
            display="chip"
            formControlName="preferredPositionsTeamIds"
            optionLabel="label"
            optionValue="value"
            [disabled]="positionOptions.length === 0"
          ></p-multiSelect>
        </arpa-form-field>
      </div>
      <div class="p-col-6 inner">
        <arpa-form-field label="musician-profile-dialog.PREFERRED_POSITIONS_INNER" type="select">
          <p-multiSelect
            [options]="positionOptions"
            [placeholder]="'NOTHING_SELECTED' | translate"
            display="chip"
            formControlName="preferredPositionsInnerIds"
            optionLabel="label"
            optionValue="value"
            [disabled]="positionOptions.length === 0"
          ></p-multiSelect>
        </arpa-form-field>
      </div>
    </ng-container>
    <!-- Background -->
    <div class="p-col-6">
      <arpa-form-field label="musician-profile-dialog.BACKGROUND_TEAM">
        <textarea formControlName="backgroundTeam" pInputText></textarea>
      </arpa-form-field>
    </div>
    <div class="p-col-6 inner">
      <arpa-form-field label="musician-profile-dialog.BACKGROUND_INNER">
        <textarea formControlName="backgroundInner" pInputText></textarea>
      </arpa-form-field>
    </div>
    <!-- Profile Preference -->
    <div class="p-col-6">
      <arpa-form-field label="musician-profile-dialog.PROFILE_PREFERENCE_TEAM" type="rating">
        <p-rating [cancel]="false" [stars]="5" formControlName="profilePreferenceTeam"></p-rating>
      </arpa-form-field>
    </div>
    <div class="p-col-6 inner">
      <arpa-form-field label="musician-profile-dialog.PROFILE_PREFERENCE_INNER" type="rating">
        <p-rating [cancel]="false" [stars]="5" formControlName="profilePreferenceInner"></p-rating>
      </arpa-form-field>
    </div>
  </div>
  <div class="p-grid p-formgrid general-container">
    <!-- Qualification -->
    <div class="p-col-6">
      <arpa-form-field label="musician-profile-dialog.QUALIFICATION" type="select">
        <p-dropdown
          [options]="(qualificationOptions$ | async) || []"
          [placeholder]="'NOTHING_SELECTED' | translate"
          formControlName="qualificationId"
          optionLabel="label"
          optionValue="value"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <!-- Salary -->
    <div class="p-col-6">
      <arpa-form-field label="musician-profile-dialog.SALARY" type="select">
        <p-dropdown
          [options]="(salaryOptions$ | async) || []"
          [placeholder]="'NOTHING_SELECTED' | translate"
          formControlName="salaryId"
          optionLabel="label"
          optionValue="value"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class="p-col-8">
      <arpa-form-field label="musician-profile-dialog.SALARY_COMMENT">
        <input autocomplete="off" formControlName="salaryComment" id="salaryComment" pInputText type="text" />
      </arpa-form-field>
    </div>
    <!-- Is Main Profile -->
    <div class="p-col-4">
      <arpa-form-field label="musician-profile-dialog.MAIN_PROFILE" type="checkbox" style="text-align: right">
        <p-checkbox [binary]="true" formControlName="isMainProfile" name="isMainProfile" [disabled]="profile?.isMainProfile!"></p-checkbox>
      </arpa-form-field>
    </div>
  </div>
  <div class="p-formgroup-inline p-jc-between">
    <button
      type="button"
      (click)="cancel()"
      [label]="'CANCEL' | translate"
      class="p-button-outlined"
      icon="pi pi-times"
      iconPos="left"
      pButton
    ></button>
    <button
      (click)="onSubmit()"
      [disabled]="form.pristine || form.invalid"
      [label]="(isNew ? 'musician-profile-dialog.CREATE' : 'musician-profile-dialog.UPDATE') | translate"
      icon="pi pi-check"
      iconPos="right"
      pButton
      type="button"
    ></button>
  </div>
</form>

<h3 *ngIf="doublingInstruments.length > 0">{{ 'musician-profile-dialog.DOUBLING_INSTRUMENTS' | translate }}</h3>
<p-accordion styleClass="accordionTable">
  <p-accordionTab *ngFor="let instrument of doublingInstruments">
    <ng-template pTemplate="header">
      <div class="p-d-flex">
        <div class="p-mr-6 name">
          {{ instrument.instrumentId | section : sections$ }}
        </div>
        <div class="p-mr-4 rating">
          <p-rating [(ngModel)]="instrument.levelAssessmentInner" [cancel]="false" [readonly]="true" [stars]="5"></p-rating>
          <span>({{ instrument.levelAssessmentTeam || 0 }})</span>
        </div>
        <div class="p-mr-auto p-text-right hidden-xs">
          {{ instrument.availabilityId | selectValue : availabilityOptions$ }}
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="instrument.formGroup" class="doublingForm">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-col">
            {{ instrument.comment }}
          </div>
        </div>
        <hr *ngIf="instrument.comment" />
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-col">
            <arpa-form-field label="musician-profile-dialog.LEVEL_ASSESSMENT_TEAM" type="rating">
              <p-rating [cancel]="false" [stars]="5" formControlName="levelAssessmentTeam"></p-rating>
            </arpa-form-field>
          </div>
          <div class="p-field p-col p-text-right" style="margin-right: 0">
            <button
              (click)="updateDoubling(instrument)"
              *ngIf="!instrument.formGroup.pristine"
              [disabled]="instrument.formGroup.invalid"
              [label]="'musician-profile-dialog.UPDATE' | translate"
              icon="pi pi-check"
              iconPos="right"
              pButton
              type="button"
            ></button>
          </div>
        </div>
      </form>
    </ng-template>
  </p-accordionTab>
</p-accordion>
<ng-template #editHeader>
  <h3>{{ instrumentName }}</h3>
  <p-badge *ngIf="profile?.isMainProfile" severity="info" value="{{ 'musician-profile-dialog.MAIN_PROFILE' | translate }}"></p-badge>
  <p-badge *ngIf="profile?.deactivation" severity="danger" value="{{ 'musician-profile-dialog.DEACTIVATED' | translate }}"></p-badge>
</ng-template>
