:host ::ng-deep {
  .p-rating {
    display: inline-block;
    margin-right: 0.5rem;
  }

  p-rating + span {
    opacity: 0.5;
  }
}

form {
  margin-top: 2rem;
}

.instrument {
  background-color: var(--surface-d);
  padding: 1rem;
  border-radius: 3px;

  & > header {
    display: flex;
    align-items: center;

    & > p-badge {
      margin-left: auto;
      padding-left: 0.5rem;
    }
  }
}

.doublingForm {
  margin-top: 0;
}

.comparison-container {
  > div {
    padding-left: 1rem;
    padding-right: 1rem;

    &.inner {
      background-color: var(--surface-b);
    }
  }
}

::ng-deep {
  .general-container {
    margin-top: 2rem !important;
    .p-field-checkbox {
      margin-top: initial !important;
    }
  }
}
