<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4">
    <h3>{{ 'userlist.PENDING_REGISTRATIONS' | translate }}: {{ users.length }}</h3>
    <arpa-user-list
      [users]="users"
      [roles]="(roles$ | async)!"
      [sectionTree]="(sectionTree$ | async)!"
      (userDeleted)="onUserChanged($event)"
      (rolesSet)="onUserChanged($event)"
    ></arpa-user-list>
  </div>

  <div class="p-col-12 p-md-6 p-lg-4">
    <h3>{{ 'userlist.REGISTERED_USERS' | translate }}: {{ usersWithRole.length }}</h3>
    <arpa-user-list
      [users]="usersWithRole"
      [roles]="(roles$ | async)!"
      [sectionTree]="(sectionTree$ | async)!"
      (userDeleted)="onUserChanged($event)"
      (rolesSet)="onUserChanged($event)"
    ></arpa-user-list>
  </div>

  <div class="p-col-12 p-md-6 p-lg-4">
    <h3>User gesamt: {{ users.length + usersWithRole.length }}</h3>
    <arpa-userchart [usersWithRoleCount]="usersWithRole.length" [usersWithoutRoleCount]="usersWithoutRoleCount"></arpa-userchart>
  </div>
</div>
<arpa-testchild
  [usersWithRoleCount]="usersWithRole.length"
  [usersWithoutRoleCount]="usersWithoutRoleCount"
  [usersTotalCount]="usersTotalCount"
></arpa-testchild>
