.user-item {
  display: flex;
  align-items: center;

  .user-info {
    display: flex;
    flex-direction: column;
  }
}

.user-detail-card {
  .header {
    display: flex;
    align-items: center;
  }

  ::ng-deep {
    .p-card .p-card-body {
      padding-bottom: 0;
    }
    .p-card .p-card-content {
      padding: 0;
    }
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    a {
      color: var(--primary-color);
      display: flex;
      align-items: center;

      &:hover,
      &:active,
      &:focus {
        color: var(--text-color);
      }
    }
  }

  ::ng-deep {
    .p-tree .p-tree-container .p-treenode {
      padding: 0;

      .p-treenode-content {
        padding: 0 0.5rem;

        .p-treenode-icon {
          color: yellowgreen;
        }
      }
    }
  }
}
