<div class="p-grid p-jc-center p-mt-4">
  <div class="p-col-12 p-md-10 p-lg-12">
    <p-virtualScroller (onLazyLoad)="loadData($event)" [lazy]="true" [rows]="4" [value]="loadedNews" scrollHeight="384px" [itemSize]="96">
      <ng-template let-newsItem pTemplate="item">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card-header" (click)="showOverlay($event, op, newsItem)">
              <label class="createdAtBy">{{ newsItem.createdAt | localizedDate : 'medium' }} | {{ newsItem.createdBy }}</label>
              <div class="p-flex-column">
                <ng-container>
                  <span class="title">{{ newsItem.title }}</span>
                  <i *ngIf="newsItem.url" class="pi pi-link linkicon" (click)="openUrl($event, newsItem.url)">
                    <a class="url" [href]="newsItem.url" target="_blank"></a>
                  </i>
                </ng-container>
              </div>
            </div>
          </ng-template>
          <div class="card-content" (click)="showOverlay($event, op, newsItem)">
            <p class="content">{{ newsItem.content }}</p>
            <!--            <p *ngIf="newsItem?.url">-->
            <!--              <a class="urlsmall" [href]="newsItem!.url!" target="_blank">{{ newsItem!.url! }} </a>-->
            <!--            </p>-->
          </div>
          <ng-container *ngIf="newsItem.url"> </ng-container>
        </p-card>
      </ng-template>
      <ng-template let-newsItem pTemplate="loadingItem">
        <p-card>
          <p-skeleton height="130px" [style]="{ 'margin-top': '10px' }"></p-skeleton>
        </p-card>
      </ng-template>
    </p-virtualScroller>
  </div>
</div>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" [style]="{ width: '70vw' }">
  <ng-template pTemplate>
    <h4 class="title">{{ selectedNewsItem?.title }}</h4>
    <p style="white-space: pre-line">{{ selectedNewsItem?.content }}</p>
    <p *ngIf="selectedNewsItem?.url">
      <a class="url" [href]="selectedNewsItem!.url!" target="_blank">{{ selectedNewsItem!.url! }} </a>
    </p>
  </ng-template>
</p-overlayPanel>
