<h3>{{ totalRecordsCount$ | async }} {{ 'NEWS' | translate }}</h3>
<div class="p-grid p-jc-center p-mt-4">
  <div class="p-col-12 p-md-10 p-lg-12">
    <p-table
      (onLazyLoad)="loadData($event.rows, $event.first)"
      [lazy]="true"
      [rows]="8"
      [totalRecords]="(totalRecordsCount$ | async) || 0"
      [value]="(news$ | async) || []"
      tableStyleClass="arpa-table-list"
    >
      <ng-template let-newsItem pTemplate="body">
        <ng-container *ngTemplateOutlet="ListElement; context: { $implicit: newsItem }"></ng-container>
      </ng-template>
    </p-table>
  </div>
</div>
<ng-template #ListElement let-newsItem>
  <p-accordion>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="p-d-flex p-flex-column">
          <span class="title">{{ newsItem.title }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-d-flex p-flex-column">
          <div class="p-d-flex p-flex-column">
            <span class="p-text-bold">{{ 'CONTENT' | translate }}</span>
            <span>{{ newsItem.content }}</span>
          </div>
          <div class="p-d-flex p-flex-column">
            <span class="p-text-bold">{{ 'URL' | translate }}</span>
            <span>{{ newsItem.url }}</span>
          </div>
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</ng-template>
