<div class="p-grid p-jc-center p-mt-4">
  <div class="p-col-12 p-md-10 p-lg-12">
    <p-virtualScroller (onLazyLoad)="loadData($event.rows, $event.first)" [lazy]="true" [rows]="8" [value]="(news$ | async) || []">
      <ng-template let-newsItem pTemplate="item">
        {{ newsItem.title }}
      </ng-template>
    </p-virtualScroller>
  </div>
</div>
<ng-template #ListElement let-newsItem>
  <p-accordion>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="p-d-flex p-flex-column">
          <span class="title">{{ newsItem.title }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-d-flex p-flex-column">
          <div class="p-d-flex p-flex-column">
            <span class="p-text-bold">{{ 'CONTENT' | translate }}</span>
            <span>{{ newsItem.content }}</span>
          </div>
          <div class="p-d-flex p-flex-column">
            <span class="p-text-bold">{{ 'URL' | translate }}</span>
            <span>{{ newsItem.url }}</span>
          </div>
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</ng-template>
