<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="p-grid p-fluid p-formgrid p-mt-4">
    <div class="p-col-12 p-md-4">
      <arpa-form-field label="GIVENNAME">
        <input autocomplete="givenName" formControlName="givenName" id="givenName" pInputText type="text" />
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-4">
      <arpa-form-field label="SURNAME">
        <input autocomplete="surname" formControlName="surname" id="surname" pInputText type="text" />
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-4">
      <arpa-form-field label="BIRTHNAME">
        <input autocomplete="birthName" formControlName="birthName" id="birthName" pInputText type="text" />
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-6">
      <arpa-form-field label="BIRTHPLACE">
        <input autocomplete="birthplace" formControlName="birthplace" id="birthplace" pInputText type="text" />
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-6">
      <arpa-form-field label="DATEOFBIRTH" type="date">
        <p-calendar
          [showIcon]="true"
          [showOnFocus]="false"
          [showWeek]="true"
          dateFormat="dd. MM yy"
          formControlName="dateOfBirth"
          id="dateOfBirth"
        ></p-calendar>
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-6">
      <arpa-form-field label="GENDER" type="select">
        <p-dropdown
          [options]="(genderOptions$ | async) || []"
          [placeholder]="'NOTHING_SELECTED' | translate"
          formControlName="genderId"
          optionLabel="label"
          optionValue="value"
        ></p-dropdown>
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-6">
      <arpa-form-field label="CONTACTVIA" type="select">
        <p-autoComplete
          formControlName="contactVia"
          [suggestions]="filteredPersons"
          (completeMethod)="filterPersons($event)"
          field="displayName"
          [forceSelection]="true"
          [minLength]="3"
          [placeholder]="'PLACEHOLDER' | translate"
          [showEmptyMessage]="true"
          [emptyMessage]="'EMPTYMESSAGE' | translate"
        >
        </p-autoComplete
      ></arpa-form-field>
    </div>
    <div class="p-col-12">
      <arpa-form-field label="ABOUT_ME">
        <textarea autocomplete="aboutMe" formControlName="aboutMe" id="aboutMe" pInputText type="text"></textarea>
      </arpa-form-field>
    </div>
    <div class="p-col-12 p-md-4">
      <label class="p-d-block p-mb-3">{{ 'EXPERIENCELEVEL' | translate }}</label>
      <p-rating formControlName="experienceLevel" [cancel]="false" [stars]="5"></p-rating>
    </div>
    <div class="p-col-12 p-md-4">
      <label class="p-d-block p-mb-3">{{ 'RELIABILITY' | translate }}</label
      ><p-rating formControlName="reliability" [cancel]="false" [stars]="5"></p-rating>
    </div>
    <div class="p-col-12 p-md-4">
      <label class="p-d-block p-mb-3">{{ 'GENERALPREFERENCE' | translate }}</label
      ><p-rating formControlName="generalPreference" [cancel]="false" [stars]="5"></p-rating>
    </div>
  </div>
  <div class="p-formgroup-inline p-jc-end">
    <p-button [disabled]="form.invalid || form.pristine" type="submit" [label]="'SAVE' | translate"></p-button>
  </div>
</form>
