<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4">
    <arpa-dummy [icon]='"messages"' class='arpa-dummy'>
      <h3>{{ 'MESSAGES' | translate }}</h3>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
      <br>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
      <br>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
    </arpa-dummy>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <arpa-dummy [icon]='"appointments"'>
      <h3>{{ 'APPOINTMENTS' | translate }}</h3>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
      <br>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
    </arpa-dummy>
    <hr>
    <arpa-project-list
      [projects]="projects"
    ></arpa-project-list>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <arpa-dummy [icon]='"tasks"'>
      <h3>{{ 'TASKS' | translate }}</h3>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="20%" height='30'>
      <br>
      <br>
      <img src="assets/common/images/dummy.gif" alt="Placeholder" width="100%" height='30'>
    </arpa-dummy>
  </div>
</div>
