<p-tabView>
  <p-tabPanel leftIcon="pi pi-users" header="{{ 'projects.TOTAL' | translate }}">
    <ng-template #loading>
      <div class="spinner-container">
        <div class="arpa-spinner">
          <div class="spinner"></div>
        </div>
      </div>
    </ng-template>
    <ng-container *ngIf="ready; else loading">
      <div class="chart-container">
        <div class="chart-subcontainer">
          <h4 style="text-align: center">
            {{ 'projects.TOTAL' | translate }}: {{ totalReplies }} / {{ totalInvited }} ({{ innerStatsValues }})
          </h4>
          <arpa-chart [values]="innerStatsValues" [labels]="innerStatsKeys" type="pie" [legend]="true"></arpa-chart>
        </div>
        <div class="chart-subcontainer">
          <h4 style="text-align: center">{{ 'projects.CONFIRMED_RESULTS' | translate }}: {{ finalResultsValues }}</h4>
          <arpa-chart [values]="finalResultsValues" [labels]="finalResultsKeys" type="pie" [legend]="true"></arpa-chart>
        </div>
      </div>
      <div *ngIf="filteredDataCount > 0">
        <h4 style="text-align: left">{{ 'RESULTS' | translate }}: {{ filteredDataCount }}</h4>
      </div>
      <arpa-table
        [columns]="columns"
        [values]="tableData"
        (filterEvents)="onTableFiltered($event)"
        (rowClickEvents)="openParticipationDialog($event)"
      ></arpa-table>
      <div *ngIf="filteredDataCount > 0">
        <h4 style="text-align: left">{{ 'RESULTS' | translate }}: {{ filteredDataCount }}</h4>
      </div>
    </ng-container>
  </p-tabPanel>
  <p-tabPanel leftIcon="pi pi-check" header="{{ 'projects.PARTICIPANTS_ACCEPTED' | translate }}">
    <arpa-accepted-participants></arpa-accepted-participants>
  </p-tabPanel>
</p-tabView>
